[2017-12-15 12:53] Architektor opened #1 "'google-maps' is not a function"
if you enter any string to 'app' option, showLocation with fire unhandled promise rejection, because you can't use Array.find with strings https://github.com/includable/react-native-map-link/blob/master/index.js#L141

[2017-12-16 18:38] tschoffelen commented on #1
Ah, I see. Committing a bugfix now!

[2017-12-16 18:45] tschoffelen commented on #1
Fixed in version "v1.0.6".

[2017-12-16 18:45] #1 closed

[2018-01-31 15:27] Cumquat opened #2 "Google Maps"
Love the code this is great and works fantastic for all the supplies i use apart from Google maps. When it tries to use google maps on an Iphone it just opens google maps but doesn't go to the supplied lat and long it seems to be looking more for what is passed in the title prop rather than using the supplied coordinates. My code is the same as example code except i'm passing different coorordinat

[2018-01-31 16:43] tschoffelen commented on #2
True, it currently passes the geolocation provided as the center point of the map (`ll` parameter), and the title as the search query (`q` parameter), since the URL scheme for Google Maps doesn't seem to allow to pass a different search query than what is displayed.

So passing the coordinates as the search query will work more as expected, but will also show the coordinates as the location title,

[2018-02-01 10:36] Cumquat commented on #2
Thanks for your response, yea that works perfect, just annoyed at myself for not thinking of that myself.
Cheers

Mick

[2018-02-01 10:36] #2 closed

[2018-02-01 11:50] tschoffelen commented on #2
No worries, it’s quite an annoying and slightly abnormal way in which the Google Maps URL scheme works. I hope my explanation cleared things up.

[2018-02-05 00:02] Maxwell2022 opened #3 "Android - Latitude and longitude is getting ignored"
Doesn't seems to pickup the `latitude` and `longitude` on Android

It opens the google map with `Location` as a search keyword.

If we specify a `title` then Google map is opening searching for this title, however still no pin corresponding to the latitude and longitude.

It's working fine on iOS

[2018-02-05 00:18] Maxwell2022 commented on #3
new format for google search is: `https://maps.google.com/?q=-33.871473,151.205739`

From what I can see, you cannot specify additional search string

[2018-02-05 14:35] tschoffelen commented on #3
Closing this to continue discussion in PR #4.

[2018-02-05 14:35] #3 closed

[2018-02-19 08:22] b-asaf opened #5 "open default map app with address as a string [country, street, house number]"
Hi,
I am looking for a package that open the default map application of the user.
I saw this package and it seem nice, but I noticed it receive a location by latitude and longitude.
Is there a way to send the default map application the location as a string - for example:
`St foo 100, Bar` (bar is the country).

and this location/address string will be placed in the search box of the application?

[2018-02-19 21:32] tschoffelen commented on #5
This is not currently built in, but shouldn't be too difficult to add.

Currently, the `latitude` and `longitude` parameteres are required, but if you could make those optional, and remove the `ll` parameters if those optional parameters are not specified, this script should do what you want.

I wholeheartedly welcome a PR 😄

[2018-02-20 19:35] elgambet opened #6 "npm needs update"
npm latests version is 1.0.5.

In that version this error stills happens:

`Unhandled promise rejection: TypeError: Array.prototype.find callback must be a function`

[2018-03-02 18:01] PedroRique opened #7 "Uber isn't workin here"
Google Maps an Waze working Fine, but when Uber is the choice just open the app.

Expected Behavior:
Open Uber and fill the input with the adress, just leaving to the user the final step.

[2018-03-03 13:39] tschoffelen commented on #7
Thanks for the bug report.

I won't be able to test/fix this myself for the next week or so, so if you need to have this fixed before then, I would encourage you to have a look at the [Uber docs](https://developer.uber.com/docs/riders/ride-requests/tutorials/deep-links/introduction#standard-deep-links) and submit a PR, which I will then merge as soon as possible!

[2018-03-12 07:36] #7 closed

[2018-03-12 07:37] tschoffelen opened #9 "Update NPM version"

[2018-03-12 09:25] #9 closed

[2018-03-19 19:39] djalmaaraujo opened #10 "When open google maps, the starting point address is not informed"
Is that expected? Is it possible to have the FROM address too, and not only the destiny address?

[2018-03-19 21:20] tschoffelen commented on #10
That is indeed the intended behaviour in this library, which currently only focusses on displaying a certain location in a maps app of the user’s choosing.

It is however possible to open up the directions view in Google Maps with both a start and end point, have a look at Google’s documentation: https://developers.google.com/maps/documentation/urls/ios-urlscheme#display_directions

[2018-03-19 21:54] djalmaaraujo commented on #10
@tschoffelen Would your be able to accept a pr with this feature? I found that apple also supports `saddr`.

https://developer.apple.com/library/content/featuredarticles/iPhoneURLScheme_Reference/MapLinks/MapLinks.html

[2018-03-19 22:03] tschoffelen commented on #10
@djalmaaraujo Yes, I'd love to see a PR that implements this, as long as it does not change the basic behaviour of the library when a starting address is not defined.

Thanks in advance!

[2018-03-19 22:04] djalmaaraujo commented on #10
@tschoffelen Let's see how it goes, I need this for a project, so I think I will take a look.

[2018-03-20 21:22] #10 closed

[2018-03-21 21:15] djalmaaraujo opened #12 "Explanation about procotols://"
Hey @tschoffelen I am trying to understand why this is the opposite:

[code]

Why in IOS we dont use applemaps:// ?

Reference: https://github.com/includable/react-native-map-link/commit/2daad68ca53578c3a6bf57827fc5ecbf97df0b8b

[2018-03-21 21:29] tschoffelen commented on #12
The `applemaps://` URI scheme does not exist as far as I know. This is more or less a hacky to make sure Apple Maps does not show up as an option on Android. `maps.apple.com` is the only officially supported way to open the Apple Maps app.

[2018-03-21 21:35] djalmaaraujo commented on #12
@tschoffelen Got it, thanks. I am planning to implement `sourceAddress` and `address` to be used instead of latitude/longitude. This is something useful when you don't want to show numbers in the from/to of the apps, you can display addresses, it's more beautiful for the end user.

I could not find a way to pass the latitude/longitude + the name of the place, and the app would show in the Destinat

[2018-03-22 12:59] wellingtonblessed opened #13 "Google Maps shows title as unnamed location"
I'm trying it out and adding the title with the name of the place but in Google maps it shows as unnamed location, yet if I open using Uber it works well.

[2018-03-23 00:13] tschoffelen commented on #13
Please see this issue comment: https://github.com/includable/react-native-map-link/issues/2#comment-361992831

This is not a bug in this library, but unfortunately simply the way Google Maps works (it ignores your location name and used its own).

[2018-03-23 00:13] #13 closed

[2018-03-23 14:39] tschoffelen commented on #12
Solved by #15 I think, new NPM release is coming in a few mins.

[2018-03-23 14:39] #12 closed

[2018-03-28 20:39] Noitidart opened #16 "Open map for directions with "to" and "from" address populated"
Thanks for this awesome module! I needed to pop open the map with the to/from address populated. Is this possible? (if geolocation is disabled i was planning on leaving the from blank so they can fill it in)

[2018-03-29 04:17] tschoffelen commented on #16
Have you tried adding the `sourceLatitude` & `sourceLongitude` parameters (see readme). They act more or less as a From address.

Does that cover your use case?

[2018-03-29 09:45] Noitidart commented on #16
Ah thank you I missed that! I didn't try it but it sounds like it does. Thanks very much!

[2018-03-29 09:45] #16 closed

[2018-04-02 22:47] ryross opened #18 "Any clue why Google Maps doesn't show in the list of apps?"
I'm using `react-native-map-link` 1.1.1 with CRNA and testing using the Expo Client on my iPhone 7 plus on 11.3. I definitely have Google Maps installed but it doesn't show up in the `askAppChoice()` list. Any clue why?

[2018-04-03 04:15] tschoffelen commented on #18
Yes, I’m pretty sure that has to do with Apple’s limitation where apps can only open other apps if they are specified in the Info.plist file. [See the README of this library for more info](https://github.com/includable/react-native-map-link/blob/master/README.md#a-note-about-ios-9).

So I think you might have to [eject](https://github.com/react-community/create-react-native-app/blob/master/EJECTIN

[2018-04-03 04:18] ryross commented on #18
Wow, you would have hoped I read the readme... lol. I totally skipped that section because I read it as just being for iOS9. Thanks!

[2018-04-03 04:18] #18 closed

[2018-04-26 06:25] rheng001 opened #20 "Open default map with specific navigation method"
Hi, is it possible to add another param to the showLocation function to customize the navigation method when we open the app? For example, when I enter a source and destination I also want the option to specify the navigation method as walking **initially** or driving/cycling for google maps.

Thanks!

[2018-04-26 07:51] tschoffelen commented on #20
Definitely possible to add that I think, at least I guess apps like Google Maps will probably support that. Unfortunately I don’t have time to add it myself, but I would definitely accept a Pull Request that implements that functionality.

[2018-05-24 18:01] jpate148 opened #23 "Apple Maps doesn't pick Street Number from Latitude and Longitude"
* Google Maps and Waze working as expected but Apple Maps doesn't pick street number, It just picks Street Name, City, State and Postal Code

[2018-05-24 18:40] tschoffelen commented on #23
This is related to the way in which Apple Maps reverse geocoding (lat,lng -> address) works, but I don't think this has actually anything to do with this library itself.

[2018-05-24 18:57] jpate148 commented on #23
@tschoffelen Thanks for responding so quickly, I just try adding `address` param to `apple-maps` url and it worked. If I pass title in address param, it works as expected.

E.g. `&address=${encodedTitle}`, which makes `title` a required field to work with apple maps. I am still testing it but if it works, Do you want me to send PR for it?

[2018-05-25 07:03] tschoffelen commented on #23
Have a look at #5, maybe you would be able to build this in right away. Would love to see a PR for that!

[2018-05-25 16:44] jpate148 commented on #23
Thanks @tschoffelen I'll take a look at it in this weekend.

[2018-06-01 17:42] luskin opened #25 "No apps open when tapped"
We installed the package and the UI for the popup looks fantastic when opened, however when we click on any of the mapping options (apple/google/uber/lyft/waze) nothing happens, the modal just disappears and the following warning is generated in the console:

[code]

Are there any additional setup steps not included in the README such as linking or anything? I put the required fields in on the Inf

[2018-06-01 18:46] johanleroch commented on #25
We saw this but didn't have to time to fix it at the moment, I'll try this we.
Meanwhile you can use the popup on my branch: https://github.com/johanleroch/react-native-map-link/tree/styling that was the code I made before the PR has been merged.

`yarn add johanleroch/react-native-map-link#styling`
or
`npm install --save johanleroch/react-native-map-link#styling`

Sorry for the inconvenience and

[2018-06-02 07:51] tschoffelen commented on #25
@luskin Sorry, we did indeed merge that new popup rather quickly, due to lack of time on my part to check it...

Would you mind opening a PR with your fix? Would appreciate it very much!

[2018-06-03 17:19] tschoffelen commented on #25
@luskin Once again sorry about this, and @johanleroch thanks for responding so quickly. I've just released 2.0.3 which fixes this.

[2018-06-03 17:19] #25 closed

[2018-06-03 21:32] baranpirincal opened #26 "Logo design proposal: React Native Map Link"
Hey! I can contribute on your project with making logo design. If you interested I can show my portfolio. I am waiting your feedback, have a nice day!

Best Regards
Baran Pirinçal
Graphic Designer

[2018-06-03 21:39] tschoffelen commented on #26
Sure, feel free to add a proposal!

[2018-06-04 20:57] Bocci94 opened #27 "Open google maps sending street and city name"
Hi, is possible (with this) to open maps writing street and city? Instead of lat and long

[2018-06-04 21:14] tschoffelen commented on #27
Duplicate of #5.

[2018-06-05 23:41] baranpirincal commented on #26
Hey again @tschoffelen . I made a logo design as I said and want to show you. I hope you like it!

![react native map](https://user-images.githubusercontent.com/37786733/41008304-0070c76e-6933-11e8-9ccc-8d13a1b7d6b6.jpg)

[2018-06-07 13:03] mbifulco opened #28 "Changelog"
Hi there - it would be very helpful if there were a changelog for this package.  In particular, knowing if there are breaking changes between v1.X.x and v2.0.x would be great!

[2018-06-07 13:53] tschoffelen commented on #28
Great point. Do you have a standard format that you’d like to see?

Also, to answer your last question: V2 adds the <Popup> component, but does not break the existing V1 behaviour.

[2018-06-07 14:21] mbifulco commented on #28
Generally changelogs seem to come in two formats on github, from what I've seen.  `react-router` is an example of a repo that does a pretty good job:

- They have a  CHANGELOG.md file [in the repo](https://github.com/ReactTraining/react-router/blob/master/CHANGES.md)
- and more or less the same content on their [releases page](https://github.com/ReactTraining/react-router/releases)

Either/both of

[2018-06-07 14:26] gbahamondezc opened #29 "Applications filtering"
Hi,

First, thanks a lot for this awesome work!

I was taking a look  to the docs and code and i can't find a way to show only the apps that i want in the Popup Component.

**IE:** Maybe i have google maps installed  but i don't want to show Google Maps as an option.

Is that possible?

Regards

[2018-06-07 15:18] johanleroch commented on #29
Hi,

Yes it's possible, we can add an option allowing to blacklist apps on demand.
Atm the popup shows all the applications installed on the phone. You'll find below the list of concerned apps:
- Apple Maps
- Google Maps
- Citymapper
- Uber
- Lyft
- The Transit App
- Waze
- Yandex.Navi
- Moovit

@tschoffelen: What do you think about that feature?

Regards,

[2018-06-07 15:45] gbahamondezc commented on #29
@johanleroch I can help with a PR if you find this feature useful.

[2018-06-07 15:50] tschoffelen commented on #29
Blacklist would be nice, but wouldn't it be better to make it a whitelist? I think that's more in tune with how that feature would be used in most situations.

[2018-06-07 15:51] gbahamondezc commented on #29
@tschoffelen  agree, whitelist make more sense than a blacklist.

[2018-06-07 15:52] johanleroch commented on #29
@tschoffelen: Sure, whitelist will make more sense.
@gbahamondezc: You're welcome if you want to make a PR

[2018-06-07 15:58] gbahamondezc commented on #29
Ok,

If really makes sense for you guys,  i will do between today and next Monday.

Thanks !

[2018-06-07 18:04] tschoffelen commented on #27
Closing this one since it is a duplicate of #5. Nevertheless, this might still be something that we might build in the near future, so please subscribe to #5 to stay up to date.

[2018-06-07 18:04] #27 closed

[2018-06-07 19:30] tschoffelen commented on #28
Cool, yes, let's make sure to create a CHANGELOG.md the next time we do a release, and keep it updated from then. Also, feel free if one of you have some time to create a CHANGELOG.md based on the recent commits.

[2018-06-08 10:13] baranpirincal commented on #26
@tschoffelen I will do some arrangements, I am waiting your feedback! Have a nice day! :)

[2018-06-08 10:44] tschoffelen commented on #26
I like your idea, and appreciate the effort, but think that something much more simple would be better (flat logomark in a single colour).

[2018-06-09 06:53] baranpirincal commented on #26
Hey again! I made again according to your feedbacks. If you don't like or want to more simple design I will make it again :) Have a nice day!

![zxc](https://user-images.githubusercontent.com/37786733/41188735-d5400b14-6bca-11e8-99d1-8394f46ab2e7.jpg)

[2018-06-10 13:49] tschoffelen commented on #26
Thanks for your suggestions, but @ahsanfazal has already implemented another logo:

![banner](https://user-images.githubusercontent.com/666220/41202196-d0c519e8-6cc5-11e8-9963-4299222c50f2.png)

[2018-06-10 13:49] #26 closed

[2018-06-10 13:52] tschoffelen commented on #23
Closing this one in favour of #5, which basically proposed the same changes.

[2018-06-10 13:52] #23 closed

[2018-06-14 15:29] gbahamondezc commented on #29
Was implemented in #30  , thanks!

[2018-06-14 15:29] #29 closed

[2018-06-15 14:12] gbahamondezc opened #31 "Remember last app selection"
Hi, what do you think about to have an option to  remember last app selection?

I mean when the user selects a navigation app, give them another option to remember the last selected app for future interactions.

Makes sense or maybe is something which not correspond to the scope of this library?

[2018-06-15 15:48] tschoffelen commented on #31
Is this something you need for your app, or just an idea for this library?

I understand the thought behind it and see its value, but I'm afraid adding features like this might cause us to end up with a bulky and overly complex library, instead of the super simple thing it is today.

So my initial reaction would be that although it might prove helpful in some situations, this is not something that

[2018-06-15 19:21] gbahamondezc commented on #31
@tschoffelen Yes, is something specifically to my use case, but i was not sure if it maybe can be useful to others, that's exactly why i asked  here 👍

I agree with you in some points, but i was not 100% sure, that's why i asked, now seems clear to me.

Thanks

[2018-06-15 22:43] #31 closed

[2018-07-05 22:44] anonrig opened #32 "Update react-native-modal"
With Babel 7 on 0.56.0 react-native-modal which is a dependency of this package, fails to build. So we need to update react-native-modal to latest version.

The quickfix for react-native-modal is in this commit: https://github.com/react-native-community/react-native-modal/commit/e2618cbd771d1488d61197de7e0cafd2d95138e9

The task of the issue of react-native-modal can be found in this issue: https:

[2018-07-06 14:14] #32 closed

[2018-07-06 14:16] tschoffelen commented on #32
Has been fixed in NPM version 2.0.5, which depends on `react-native-modal@^6.4.0`.

[2018-07-12 15:12] rey-an-papa-ext opened #33 "IOS 11 Issue - App Selection suddenly disappears"
Hi,

I used react-native-map-link where I just pass the origin and destination longitude and latitude. Everthing is ok in Android but I encountered an issue in IOS where it shows the modal of the available Map applications but it suddenly disappears in 1-2 second then the app hangs.

Here's my implementation:
<img width="840" alt="screen shot 2018-07-13 at 1 33 47 pm" src="https://user-images.gith

[2018-07-19 04:09] AilsonFreire opened #34 "How can I pass more than two points when I call directions on google maps?"

[2018-07-19 08:50] tschoffelen commented on #34
You mean as in multiple stops in directions? That is currently not supported in this library, but I would certainly welcome a PR for such functionality!

[2018-07-20 06:53] n7229 opened #35 "Android build fail"
android/app/build/intermediates/res/merged/release/drawable-xhdpi/node_modules_reactnativemaplink_as
sets_images_yandex.png: error: uncompiled PNG file passed as argument. Must be compiled first into .flat file..
error: failed parsing overlays.

[2018-07-20 07:15] tschoffelen commented on #35
This does seem to be related to the React Native build process, not to this library, since it includes images in the normal way.

Try removing your Android build folders and running a clean build, I think that might help.

[2018-07-24 23:43] AilsonFreire commented on #34
Oh, that's great invitation! Let me have some free time and I certainly will take this project to look if I can put more than two points

[2018-07-27 16:19] JB-CHAUVIN opened #37 "Bug : opening with google maps on Android opening system's popup to choose with which app to open"
When I open with Google maps on Android, an other popup is opening, asking the user with which app to open this link...

[2018-07-27 16:52] tschoffelen commented on #37
Thanks for reporting this. What apps are showing up for you in that second popup?

[2018-07-27 16:54] JB-CHAUVIN commented on #37
Only CityMapper & Maps @tschoffelen. I have Uber, Waze, Google maps, and more app installed.

[2018-07-27 17:00] tschoffelen commented on #37
Ah, it's CityMapper. They apparently updated their app to respond to Google Maps-like URLs. There isn't too much we can do to prevent that though I think...

[2018-07-27 17:16] gbahamondezc commented on #35
Same issue here.

Android SDK 26.
Gradle 4.4

I'm not sure if this problem is related with the library, so i will trying to understand what it's going on, to give more details.

[2018-07-27 17:55] tschoffelen commented on #28
Started using the [Release notes](https://github.com/includable/react-native-map-link/releases) in Github to keep a changelog.

Closing this issue.

[2018-07-27 17:55] #28 closed

[2018-08-04 12:48] pjay79 opened #38 "Add support for Grab app"
Great package. Can you add support for Grab? www.grab.com

[2018-08-04 14:28] tschoffelen commented on #35
`android.enableAapt2=false` seems to indeed be the solution whenever you face this problem. I’m closing this issue however, since it doesn’t seem to be specific to this library, but a bug in React Native’s build system, since I’ve experienced this same thing before with other libraries, but am
also able create a RN project with just this library, and then I’m not experiencing this problem.

[2018-08-04 14:28] #35 closed

[2018-08-04 15:29] tschoffelen commented on #38
I can’t find anything related to the Grab app on that documentation site. How are Here and Grab related?

[2018-08-30 12:54] grzjos opened #39 "Expo: isAppInstalled does not detect Google Maps app on iOS"
When I added yet another prefix for the Google Maps (just an example)  Linking.canOpenURL returns true. Otherwise, it is false. Is there any option to provide the list prefixes as a parameter to Popup? Or how otherwise should I solve it?
I work on an Expo based React Native app.
export const prefixes = {
...
  'google-maps': isIOS ? 'comgooglemaps://' : 'https://maps.google.com/',
  **'google-maps

[2018-08-30 14:33] tschoffelen commented on #39
That specific prefix is chosen because the `maps.google.com` one doesn't always work on iOS.

Besides, this library isn't going to be of much use to you in an Expo app, unless you eject, because you have to follow the install step in the README of adding some items to `Info.plist` to be able to open any of the apps that this library supports.

[2018-08-30 14:34] #39 closed

[2018-09-01 05:58] softov commented on #5
I have made some changes in the source to do that in google maps and apple maps. I don't figure out how to do that in uber or waze (they request latitude and longitude)

In showLocation(options)  I create this
`
export async function showLocation(options) {
  checkOptions(options)

  let useSourceDestiny = false
  let useDstAddr = false

  let sourceLat
  let sourceLng
  let sourceLatLng

  if (('

[2018-09-03 08:45] tschoffelen commented on #33
Closing this issue for now as I can't reproduce it and more info isn't supplied.

[2018-09-03 08:45] #33 closed

[2018-09-03 08:46] tschoffelen commented on #38
Closing this for now, since I haven't received any information about the URL scheme of the Grab app.

If you really want this feature, please open a new issue with more specific information about the Graph app URL scheme.

[2018-09-03 08:46] #38 closed

[2018-10-04 19:08] tschoffelen commented on #5
Feel free to do a PR!

PR #42 already solves part of the original question for Apple Maps.

[2018-10-05 13:07] mohanraj546 opened #43 "ActionSheet Not Opening in IOS"
Hi,

ActionSheet not opening in ios.
When I debug the code I found that Linking.canOpenUrl() method returns false but the apps are installed in mobile(ios) and defined the schemas in LSApplicationQueriesSchmes. Please can you give me the suggestion how to do?

Thanks in Advance

[2018-10-06 08:50] tschoffelen commented on #43
Did you re-build the native app after changing Info.plist?

[2018-10-06 08:56] mohanraj546 commented on #43
Yes

[2018-10-06 08:57] mohanraj546 commented on #43
In android its working fine But in ios not getting the actionSheet because canOpenURL method returns false for the installed apps

[2018-10-06 09:02] tschoffelen commented on #43
Can you send me your full Info.plist file (thomas@includable.com). That’s the only possible thing that can be wrong, I think.

[2018-10-06 09:19] mohanraj546 commented on #43
sent the Info.plist in mail. Please check let me know is there any issues with it

[2018-10-06 11:01] ismaelrumzan opened #44 "Testing using expo app"
Hi
Thanks for this plug-in - working nice
I'm building the app using expo and react native.
When I use the function showLocation, although I have put three apps in the whitelist options (google maps, apple maps and uber), it opens directly in apple maps. I've tried both in simulator and expo app on a device

[2018-10-06 11:17] tschoffelen commented on #44
Please see #39.

[2018-10-16 07:59] maxencehenneron opened #45 "Add typescript definitions"
I'm using typescript so adding the definitions might be useful for those who use it as well.

I created them for my project, feel free to add them to the repo:

[code]

[2018-10-16 08:15] tschoffelen commented on #45
Great! Any chance you could submit a PR to add these to the repo in the appropriate way? I never use Typescript, so not sure what the conventions are.

Thanks in advance!

[2018-10-16 08:55] tschoffelen commented on #45
Closed with PR #46.

[2018-10-16 08:56] #45 closed

[2018-10-16 15:28] maxencehenneron commented on #43
not sure if related but you wrote : "LSApplicationQueriesSchmes" it should be "LSApplicationQueriesSchemes"

[2018-10-19 15:54] zubko opened #47 ""Require cycle" warning in the app (RN 0.57)"
After updating to React Native 0.57 there is a warning about require cycle:

<img width="487" alt="screen shot 2018-10-19 at 5 29 08 pm" src="https://user-images.githubusercontent.com/16039/47224640-acbe3f00-d3c4-11e8-8a62-46566226d16d.png">

I can add this warning to warning ignores as a workaround.

[2018-10-30 14:31] nicholasc opened #48 "Override application titles"
Currently, the application titles in the app selection menu are displayed are based on constants. It would be nice if we could override those. For example, using internationalization we could have the apps name translated.

I am suggesting something along the lines of:
[code]

Then this config could be merged with the title constant to generate the menu.

If this is something we want as a new feat

[2018-11-06 16:44] amsimoes commented on #44
Hello all,

I'm also developing on Expo, and it's possible to edit the info.plist file, by adding what's needed for it on the app.json file. And then when building (with expo:build ios, never ejecting) the .ipa file has the info.plist which I checked and it has the right syntax:

[code]

Which gets produced by writing on app.json like this (on Expo):
[code]

Problem is, I haven't been able to see

[2018-11-08 09:39] tschoffelen commented on #44
How are you running the app? Within the Expo app, or compiling it separately?

[2018-11-17 18:22] Rommero opened #49 "Revisited: opening with google maps on Android opening system's popup to choose with which app to open"
This issue is an extension/proposal for https://github.com/includable/react-native-map-link/issues/37

After a deeper investigation I found out that system's popup shows only when the map url is `https://maps.google.com/...` . If we use `https://www.google.com/maps/dir/` it's still recognized with google maps yet not recognized by third-party apps which eliminates that annoying popup.

Can you mak

[2018-11-17 20:27] #49 closed, assigned to nobody

[2018-11-17 20:29] tschoffelen commented on #49
Thanks for this research! I've applied the change of the Google URL in version 2.1.2.

[2018-11-17 20:30] tschoffelen commented on #47
Indeed not really a best practice. Feel free to submit a PR for this if you find the time!

[2018-11-21 13:40] Hatko opened #50 "Part of `Options` is not optional anymore"
According to the `Basic usage` section from *REDME*, `dialogTitle`, `dialogMessage` and `cancelText` are optional. But after update to "^2.1.2" they don't seem anymore:

`index.d.ts`
[code]

[2018-11-22 18:19] tschoffelen commented on #50
I think this is a bug in the TypeScript definition not matching up to the actual code. Feel free to submit a PR to improve the `index.d.ts` file.

[2018-11-24 16:47] tschoffelen commented on #50
Fixed in #51.

[2018-11-24 16:47] #50 closed

[2018-11-26 07:05] mpargar opened #52 "Google maps never show the location, just loading"
Sorry for my english in advance.

I'm testing with the example code and works perfectly in all platforms (i test just in my android device) excepts in G-Maps. The map never shows the location pointer and just put the loading icon in the search bar.

![image](https://user-images.githubusercontent.com/32663960/48997945-ecd4b800-f10e-11e8-87a5-1be1abc0263b.png)

I'm using a Moto G5 plus - Android 8.1

[2018-11-26 08:52] tschoffelen commented on #52
Thanks for using the library.

I don't have access to an Android device to test right now, but we recently made some changes in the Google Maps logic, and I think that might be the culprit.

Could you try installing version 2.1.1 of the library (so not `^2.1.1` but just `2.1.1` in your `package.json` file, so that NPM/Yarn uses that exact version) and see if that helps?

Thanks in advance!

[2018-11-26 08:53] tschoffelen commented on #48
Sorry for the late reply!

I personally don't see much use in this for my own apps, but it also wouldn't add too much complexity to the library, so feel free to add it! I'll gladly accept a PR that implements this functionality.

[2018-11-26 08:58] tschoffelen commented on #43
I think this is indeed a problem with the configuration of your React Native/Xcode project, since I haven't heard other people mention having this issue.

Going to close this for now, feel free to re-open or comment if anyone is still experiencing this problem.

[2018-11-26 08:58] #43 closed

[2018-11-27 08:15] tugcanolgun commented on #52
I have the same problem and I tried to install 2.1.1 but it didn't help.

[2018-11-28 17:09] RobertoE91 commented on #52
same problem on  `"react-native-map-link": "^2.1.3"` . Going back to `"react-native-map-link": "2.1.1"`  fix the problem. Thank you.

[2018-12-05 13:33] pmjlopez commented on #52
Going back to 2.1.1 worked but when clicking on the Google Maps option with Citymapper installed another popup opens above it.

![image](https://user-images.githubusercontent.com/3843459/49516720-396d7f80-f8d5-11e8-8fe7-fdef2e809405.png)

[2018-12-05 18:21] #52 closed

[2018-12-05 18:23] tschoffelen commented on #52
I have just restored the behaviour from version 2.1.1 in the newly released NPM version 2.1.4.

This does re-introduce the problem that we attempted to resolve with #49 (the duplicate dialogs caused by CityMapper), but it is better than Google Maps not functioning at all.

If someone has a better solution for #49, please let me know!

[2018-12-13 13:16] amsimoes commented on #44
I've just tested it after building a standalone app (fully using Expo, not detached), and this lib works as intended :)

Meaning that editing info.plist on app.json (Expo way), it then works on the app built using expo.

[2018-12-13 13:38] tschoffelen commented on #44
@amsimoes Great to hear! Would indeed love it if you could submit a PR to add something to README.md about this. Or perhaps a separate markdown file that we link to from readme.

[2018-12-13 17:18] greenkeeper[bot] opened #53 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-21 17:06] ismaelclass commented on #44
@amsimoes I tried the app.json way and uber shows up. This is what I have in the app.json
      "infoPlist": {
        "LSApplicationQueriesSchemes": ["google-maps", "uber", "apple-maps","citymapper", "lyft", "waze"]
      }
And on my phone, only google maps, uber and apple maps are installed.
Apple maps and uber show up but not google maps.
Any ideas?

[2018-12-21 20:05] tschoffelen commented on #44
Hi @ismaelclass, that's because the URL scheme for Google Maps is `comgooglemaps`, not `google-maps`.

Have a look at the documentation that I've just added: [expo.md](https://github.com/includable/react-native-map-link/blob/master/docs/expo.md).

Also hereby closing this issue for now, since the README has been updated with additional instructions. If there are any separate issues resulting from

[2018-12-21 20:05] #44 closed

[2018-12-23 05:01] ismaelrumzan opened #54 "Add support for Careem"
Are the only apps that will open the ones listed on the readme page?
For example, I don't see "careem" listed - could I find the right id for careem and add it?

[2018-12-23 13:57] tschoffelen commented on #54
@ismaelrumzan Yes please! I've created a quick document to outline the steps involved in adding support for a new app to the library:

https://github.com/includable/react-native-map-link/blob/master/docs/add-app.md

[2018-12-23 14:16] tschoffelen commented on #47
I haven't yet had a chance to test this on RN 0.57 myself net, but ca864d6 should resolve this warning.

Once I get a chance to test it on a device I'll release a new version to NPM.

[2018-12-23 14:16] #47 closed

[2018-12-26 09:15] ismaelrumzan commented on #54
Thanks for that
I've been trying to figure out what the url scheme would be.
I was able to find the manifest.plist file from the backup and looked the the CFBundleIdentifier
However, these are different from what you've used as URL schemes
For example, google maps is com.google.Maps and you use comgooglemaps://
Is it basically the same but all lowercase and without dots?
But Uber is com.ubercab.Ub

[2018-12-26 09:35] tschoffelen commented on #54
`CFBundleIdentifier` is not the URL scheme. There should be one or more keys called `CFBundleURLSchemes` which will contain the URL scheme:

Example:

[code]

In this example the URL scheme is `hoyapp://`.

[2018-12-27 05:09] ismaelrumzan commented on #54
Thanks for that, I'm need to download the ipa to find that data
I got google maps to load now - however, the co-ordinates are not being passed when I click on it.
It works fine for uber and apple maps. In google maps, it seems to try to search on the name passed.
Any ideas?

[2018-12-27 11:09] tschoffelen commented on #54
Just the IPA won't be enough, because you need to know the rest of the URL scheme (how the parameters work) as well.

They do seem to have [online documentation](https://developer.careem.com/) (click Deep Linking top right), but the Developer portal requires signing in, and the Sign Up form doesn't seem to work, like [these people also found out](https://github.com/dpa99c/phonegap-launch-navigator

[2018-12-27 18:21] ismaelrumzan commented on #54
Great, I found the url scheme and added all the info in a forked version of your source code.
How can I test it with the new source and make sure things work on both android and ios, without requesting a pull request to push back to your code?

[2018-12-27 20:32] ismaelrumzan commented on #54
Thanks,
Got it to work - it opens the careem app - now I need to troubleshoot how to pass the co-ordinates - any tips on finding this or are there a set of "limited" conventions?

[2018-12-27 20:45] tschoffelen commented on #54
Not really, it's might be similar to the way the Uber deep linking works, but you would really need the documentation I linked to in a previous comment to know for sure.

I've already been looking around if I could find any other resources for Careem, but I couldn't find any...

[2019-01-11 12:11] ismaelrumzan commented on #54
Hey, I registered with Careem but have not got access yet. Question about setting the appwhitelist inside the app using the popup. I did it but it does not pick it up - any suggestions?

[2019-01-21 19:00] rollsroyc3 opened #55 "Issue with fork and PR"
I created a fork and am testing the fix on my repo but the directory format is different than yours when I add it to my project. I noticed you have a src file in the repo but when I add it to my project the src becomes the root. But in my fork when I try to add it to my project its still react-native-map-link/src.

Any help on what I am doing wrong? I didnt see any scripts in package.json..

[2019-01-21 21:31] tschoffelen commented on #55
Make sure you're using the `index.js` file in the root directory as well, the `src` directory is not actually the access point of the package.

[2019-01-22 15:09] #55 closed

[2019-02-25 05:30] jayan2019 opened #59 "Get current location automatically"
I think it would be better if `sourceLatitude` & `sourceLongitude` is not defined, capture the current location automatically. It would be a good feature for this package. Thanks in advance 🙏🏻

[2019-02-25 07:09] tschoffelen commented on #59
In most cases, you are not required to specify those, they are optional.

[2019-02-25 07:39] jayan2019 commented on #59
Thank you for your response @tschoffelen. Yes you are right they are optional, But what I suggest is setting the devices current location for it would be more useful. Then the user can simply click the Directions and found best route. This is my own suggestions for improvement. Please feel free to close this issue if it is not acceptable in this place 😊

[2019-02-25 08:09] tschoffelen commented on #59
I see what you mean. The reason we don't do that at the moment is that it would make the library more difficult to use, because:

1. You'd always need to ask permission to use the user's location if you want to use this library.
2. There would be a delay between the user pressing the button and actually opening the directions app, since getting the user's current location is an asynchronous task.

[2019-02-25 08:19] jayan2019 commented on #59
I agree with you @tschoffelen. Thanks for your valuable comments and you time. I will close this issue.

[2019-02-25 08:19] #59 closed

[2019-03-06 14:04] avegrv opened #60 "Support Yandex Maps"
As a developer I want to add support of Yandex Maps.

[2019-03-06 15:26] #60 closed

[2019-03-26 19:06] monjohn opened #69 "'comgooglemaps' not being detected on ios with Expo"
First of all I want to say thank you for open-sourcing this library. It is well-done and super useful.

I want to revisit issue #39 since I am encountering the same issue. It successfully detects Waze, but not Google Maps.

I too am using Expo and my app.json file includes:
[code]

Just like in that other issue, I editing `contacts.js` in the following way:

[code]

When I do this, the Google Maps

[2019-03-27 09:04] tschoffelen commented on #69
Thanks @monjohn!

I see that I wasnt really clear in my comment on #39.

The problem with this solution is that opening the app might work well, but detecting it won’t, since a `http://` URL can always be opened (in Safari), so the detection will always indicate that Google Maps is installed with this change, even if it isn’t. That’s why there is a need to use a custom URL scheme for the detection

[2019-03-27 14:35] monjohn commented on #69
@tschoffelen Thanks for the reply! It is weird, after a bunch of searching, I can't find issues where other people are having this problem on iOS in general. And Google's own page still indicates that this is the correct URL.

[2019-03-27 14:54] tschoffelen commented on #69
Just to confirm, you did rebuild/reinstall the app after making the changes to your Expo config file, right?

https://github.com/leanmotherfuckers/react-native-map-link/blob/master/docs/expo.md#rebuild-your-app

I was doing some testing just now as well, and for me the url scheme `comgooglemap://` still works too.

[2019-03-27 15:12] monjohn commented on #69
I did rebuild, but I missed the note at the bottom about it only working in the standalone app. 😊

[2019-03-27 15:14] tschoffelen commented on #69
Ah! That explains it all! Expo doesn't have a way to edit the Plist file of their own app dynamically of course, so they can't add URL schemes on demand.

Okay for me to close this one?

[2019-03-27 18:46] monjohn commented on #69
Yep. Thanks for the help!

[2019-03-27 18:46] #69 closed

[2019-03-30 08:26] tschoffelen commented on #34
Closing this one right now, since it's not really in the scope of this library, and since we're adding more and more app integrations, features like these will not be able to be implemented for every supported app.

[2019-03-30 08:26] #34 closed

[2019-03-30 08:27] tschoffelen commented on #5
Closing this one for now, since we like to keep the integrations work in a uniform manner, and not every one of the apps we support accepts a address as a parameter.

[2019-03-30 08:27] #5 closed

[2019-04-01 15:40] abdelwehed opened #73 "ios app proposal"
Hello,

I just used the library and it works fine on Android.
On IOS also it works but when the modal is open i only see apple maps in the app proposal even if i update info.plist file by adding the apps i want, i still dont get the proposal working.
N.B: tested on IOS 11 and 12  /  RN 0.58.3
![Capture d’écran 2019-04-01 à 17 39 24](https://user-images.githubusercontent.com/20995060/55340532-2e9

[2019-04-01 16:23] tschoffelen commented on #73
Hi @abdelwehed, thanks for using the library! Have you recompiled the app after updating your Info.plist file?

Also, if you're using Expo, please read this: https://github.com/leanmotherfuckers/react-native-map-link/blob/master/docs/expo.md

[2019-04-02 08:26] abdelwehed commented on #73
Hi @tschoffelen, yes i recompiled my app after updating info.plist and i am not using expo.
Any one is having this issue ?

[2019-04-02 09:15] tschoffelen commented on #73
Are you testing it on a real device or in the simulator?

[2019-04-02 09:17] abdelwehed commented on #73
Real device of course :)

[2019-04-02 09:18] tschoffelen commented on #73
Hmm, strange. Could you send me a copy of your Info.plist?

If you'd rather not do that publicly, feel free to email it to thomas@infowijs.nl

[2019-04-02 09:26] abdelwehed commented on #73
Done ! i sent you email.

[2019-04-18 14:32] lehresman commented on #73
Any movement on this?  I have the same problem.  I *am* using Expo, and I did follow the Expo instructions (adding LSApplicationQueriesSchemes), and recompiled.  Still I only see Apple Maps.

[2019-04-18 14:46] tschoffelen commented on #73
Have you guys tried if the `showLocation` method (without the custom modal) yields the same results?

[2019-04-18 14:48] lehresman commented on #73
Yes.  When I do this:

[code]

it loads Apple Maps directly without presenting any options.

I do have Google Maps installed on my phone.  I just confirmed that.

[2019-04-18 14:56] abdelwehed commented on #73
Hello,

yes me too i tested showLocation but i had same behaviour like @lehresman

[2019-04-18 15:17] tschoffelen commented on #73
I unfortunately can't produce this in any way...

Just tested it again by creating a new project using `react-native init MapTester`, updating `Info.plist`, running `yarn add react-native-map-link` and adding this to App.js:

[code]

This shows me all the options I would expect to show it on my phone (Apple Maps, Google Maps, Uber).

[2019-05-02 10:06] abdelwehed commented on #73
It works for me now :).
In fact we had 4 plist files in the project and i had to add to all of them the 'LSApplicationQueriesSchemes'.
My bad and excuse me for my useless issue 😅
@lehresman try to see maybe you had the same pb; if yes close the issue.

[2019-05-09 09:11] gde-adi opened #80 "Popup not working on Android."
Hi... I am newbie in React Native.
I follow this example https://github.com/leanmotherfuckers/react-native-map-link/blob/master/docs/popup.md

**Everything is working well on iOS, but not working on Android.**
What is wrong here ? (Please look my attachment file)

The logic is
I have a component named "OpenMapLocation". This component have 2 props, named 'address' and 'title'. Then with Geocoder (

[2019-05-09 13:40] tschoffelen commented on #80
Hi! Are you getting any console errors?

[2019-05-10 02:08] gde-adi commented on #80
Hi @tschoffelen thanks for you reply.

No, there is no any errors on console.
I have tried to do some trick that change the isVisible as TRUE.
`<Popup
isVisible={ true }
....`
It is working well. The Popup screen is displayed when load the main screen.

[2019-05-17 22:55] gidox commented on #80
same problem :(

[2019-05-22 02:02] jefffabiny opened #82 "Unable to resolve './constants'"
<img width="584" alt="Screen Shot 2019-05-21 at 9 56 15 PM" src="https://user-images.githubusercontent.com/1752323/58141982-60193b80-7c13-11e9-81ce-e598be4af611.png">

[2019-05-22 08:58] tschoffelen commented on #82
Hi Jeff,

Could you try the following things for me:

1. Removing your `node_modules` directory and re-running `yarn` or `npm install`
2. Killing your packager, and restarting it with the `--reset-cache` flag?

I'm guessing there is something going wrong in the packager, not in the package itself.

[2019-05-22 13:15] jefffabiny commented on #82
`rm -rf node_modules`
`npm install`
`expo r -c`

It's working. Thank you.

[2019-05-22 13:15] #82 closed

[2019-05-22 17:36] ysnfez commented on #73
@abdelwehed : Can you help me with ImagePicker.launchCamera issue.
![Head Office_1_MISC_May13_2019_photo1](https://user-images.githubusercontent.com/9275520/58195723-a1066400-7c96-11e9-81fc-ccfafeb667ba.jpg)
attached is image quality after uploading to windows server. thank you

[2019-05-22 18:41] tschoffelen commented on #73
@ysnfez I don’t think this is really the place for that :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-22 18:41] tschoffelen commented on #73
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-30 07:20] amitbravo commented on #80
Mine is not working either on Android (device) or iOS (emulator ). no error found . it simply does not work. I tried a downgrade version too. didn't work either.

[2019-05-30 07:21] amitbravo commented on #80
@gde-adi could you please a piece of code how its working on iOS , mine is not working

[2019-05-31 02:33] gde-adi commented on #80
hi @amitbravo, I already put all my code on link above.

BUT, just let you know. Few days ago, I tried to reinstall my environment (because other issue), Unfortunately the Pop Up is not working on iOS and Android.
So I assume that I think there is impact from other dependencies.

[2019-06-24 11:35] greenkeeper[bot] opened #86 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.14.0` to `7.14.1`.

🚨 [View failing branch](https://github.com/leanmotherfuckers/react-native-map-link/compare/master...leanmotherfuckers:greenkeeper%2Feslint-plugin-react-7.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the

[2019-06-26 06:29] baselbj commented on #54
Hi, any updates on this?

[2019-06-26 06:41] tschoffelen commented on #54
Still waiting for someone to find out info about their URL scheme. I've tried signing up for their developer portal multiple times, but it don't seem to work.

As soon as we have the URL scheme data it should be really simple to build the actual integration.

[2019-06-26 06:50] baselbj commented on #54
thank you I'll also try to register and help

[2019-06-26 09:31] skizzo opened #87 "v2.4.1: getAvailableApps () always returns empty Array"
Hi,
the `showLocation()` function stopped working for me, even when testing it on a real iOS device and not the simulator. So I went through the code of the latest version (`2.4.1` at the time of writing this), and noticed this in **`src/utils.js`**:

[code]

Why is the `prefixes` parameter not handed to the `getAvailableApps ()` function? Or, differently asked, **can v2.4.1 work for anybody at al

[2019-06-26 09:44] tschoffelen commented on #87
I just opened #87 with a possible fix, but don't have time to actually run it and check if it works. Could you have a look?

[2019-06-26 10:00] skizzo commented on #87
Wow thanks, that was fast 👍

Your commit fixes it, the ActionSheet's showing again, everything's alright. Might want to push this soon into your release since this bug's kind of a show stopper :D Thx!

[2019-06-26 10:11] #87 closed

[2019-06-26 10:17] tschoffelen commented on #87
Released to NPM as `react-native-map-link@2.4.3`.

[2019-06-26 10:20] #86 closed

[2019-06-26 10:20] #80 closed

[2019-06-26 10:21] #73 closed

[2019-06-26 10:44] vladromila opened #89 "No apps shown"
Hi guys. I ejected an expo project to react-native and the popup doesn't work anymore. I upgraded to @2.4.3 but it didn't fix it for me. I must say that on expo, in order to make it work, i needed to add permission READ_PHONE_STATE. I added this to Manifest but it still doesn't work :
`<uses-permission android:name="android.permission.READ_PHONE_STATE"/>`
Any ideas? Thanks in advance

[2019-07-26 02:43] hayanisaid commented on #89
The same!

[2019-08-02 09:02] gde-adi commented on #89
Have you try version 2.1.1 ? I think that this version is better than other version and also more stable.

Just suggestion. :)

[2019-08-16 17:06] SystemBlad commented on #80
Hi guys,
I had the same issue, I think it is a problem with other node-modules dependencies.
What I did to solve the problem is copy the source code library from node-modules and paste it inside my components. Hope this help to others.

[2019-08-25 21:19] greenkeeper[bot] opened #97 "An in-range update of babel-eslint is breaking the build 🚨"
## The devDependency [babel-eslint](https://github.com/babel/babel-eslint) was updated from `10.0.2` to `10.0.3`.

🚨 [View failing branch](https://github.com/leanmotherfuckers/react-native-map-link/compare/master...leanmotherfuckers:greenkeeper%2Fbabel-eslint-10.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-e

[2019-08-27 22:28] greenkeeper[bot] opened #98 "An in-range update of eslint-config-standard is breaking the build 🚨"
## The devDependency [eslint-config-standard](https://github.com/standard/eslint-config-standard) was updated from `14.0.1` to `14.1.0`.

🚨 [View failing branch](https://github.com/leanmotherfuckers/react-native-map-link/compare/master...leanmotherfuckers:greenkeeper%2Feslint-config-standard-14.1.0).

This version is **covered** by your **current version range** and after updating it in your proje

[2019-08-28 08:20] #98 closed

[2019-08-29 10:32] greenkeeper[bot] opened #99 "An in-range update of eslint-plugin-node is breaking the build 🚨"
## The devDependency [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) was updated from `9.1.0` to `9.2.0`.

🚨 [View failing branch](https://github.com/leanmotherfuckers/react-native-map-link/compare/master...leanmotherfuckers:greenkeeper%2Feslint-plugin-node-9.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the buil

[2019-08-30 20:28] greenkeeper[bot] opened #100 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.2.2` to `6.3.0`.

🚨 [View failing branch](https://github.com/leanmotherfuckers/react-native-map-link/compare/master...leanmotherfuckers:greenkeeper%2Feslint-6.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency o

[2019-09-06 07:07] greenkeeper[bot] opened #103 "An in-range update of react-native-map-link is breaking the build 🚨"
## The dependency [react-native-map-link](https://github.com/includable/react-native-map-link) was updated from `2.4.5` to `2.5.0`.

🚨 [View failing branch](https://github.com/leanmotherfuckers/react-native-map-link/compare/master...leanmotherfuckers:greenkeeper%2Fdefault%2Freact-native-map-link-2.5.0).

This version is **covered** by your **current version range** and after updating it in your pr

[2019-09-07 17:38] #103 closed

[2019-09-07 17:38] #99 closed

[2019-09-07 17:38] #100 closed

[2019-09-07 17:39] tschoffelen commented on #89
We've just released a new version `v2.5.1`, could you give that a try?

[2019-09-12 10:14] vinhtran6921 opened #107 "Can we know on user's phone have or not have map application?"
How can I implement like this image. Can we get info app on user's phone?.
On Popup component, it only show app that installed on phone. How I can get info like this on my component?
![image](https://user-images.githubusercontent.com/53859772/64775385-3ef0a800-d580-11e9-9e55-9c0dc94292f6.png)
![image](https://user-images.githubusercontent.com/53859772/64775577-ad356a80-d580-11e9-9fb1-54ab707ff4bf.

[2019-09-20 19:27] wiliander opened #108 "Unnamed location"
Hi, is there a way to send the name of the address or a title so it won't appear on my map, "unnamed location"?

this is due to googleForceLatLon: true

<img width="356" alt="Captura de Tela 2019-09-20 às 15 26 50" src="https://user-images.githubusercontent.com/39866928/65350494-39b4de00-dbbc-11e9-9f58-7b4c4851b280.png">

[2019-09-20 21:06] #108 closed

[2019-09-24 16:10] 20SangHun00 opened #109 "When browser version of Google Maps is accessed from iOS, the pointer for the given location's coordinates is not shown"
I'm trying to implement this module in my app, and have an issue related to the browser version of Google Maps. I've given the possibility to access multiple map apps (for now Apple map, and Google Maps), and when I choose from the menu the Google Maps, as expected it redirects me to the browser version of the Google, if the phone doesn't have Google Maps installed, and here appears the problem, t

[2019-09-25 09:51] 20SangHun00 commented on #109
I fount the problem. When redirecting to the browser version, the app sends a link similar to this one `https://www.google.com/maps?q=LAT2,LON2&api=1&saddr=LAT1,LON1&daddr=LAT2,LON2` (change LAT1, LAT2, LON1 & LON2 with yours coordinates), but now, google changed the structure of this link to this `https://www.google.com/maps/dir/'LAT1,LON1'/'LAT2,LON2'` , what can be done for resolving the proble

[2019-09-25 10:01] tschoffelen commented on #107
Hi, to do that, you'd need to use the internal function [`getAvailableApps`](https://github.com/tschoffelen/react-native-map-link/blob/master/src/utils.js#L12) and build your own popup.

This is not part of the scope of this library.

[2019-09-25 10:01] #107 closed

[2019-09-25 10:02] tschoffelen commented on #89
Closing this now, as I believe this has been fixed from my own tests and the experiences of other users. Please open a new ticket if you still experience problems with the latest version.

[2019-09-25 10:02] #89 closed

[2019-09-25 10:09] 20SangHun00 commented on #109
Here's the structure of the links which redirects you to the directions from point A to point B and to the one which sets a pointer to the given place.

`https://www.google.com/maps/dir/'LAT1,LON1'/'LAT2,LON2'`

`https://www.google.com/maps/place/'LAT1,LON1'`

[2019-09-25 10:11] tschoffelen commented on #109
Feel free to submit a PR for this.

One thing to note: the HTTP link is also used by Android to open the Google Maps app, so we need to check if opening Google Maps on Android still works as expected with this new URL structure.

[2019-09-25 10:30] 20SangHun00 commented on #109
If it is of any help, I've sent a link similar to this in messenger to myself, and accessed it from both iOS and Android, and it opened without any problems, though it was opened in messenger's in-app browser

[2019-09-25 10:50] 20SangHun00 commented on #109
I can make that pull request, but I didn't changed the scenario for placeID and encodedTitle, as I do not know how to work with them.

[2019-09-25 11:01] 20SangHun00 commented on #109
Ok, PR done

[2019-10-03 17:21] tschoffelen commented on #54
Hi @baselbj have you been able to access Careem's developer docs? Otherwise I might close this issue for now.

[2019-10-03 17:21] #48 closed

[2019-10-03 17:21] #20 closed

[2019-10-04 10:34] baselbj commented on #54
to tell you the truth I totally forgot about this ... I will start working on that now... sorry for that

[2019-10-04 11:03] baselbj commented on #54
after some tries and playing with my Careem accounts I registered a developer account the response is:

waiting for there response

[2019-10-04 15:16] tschoffelen commented on #54
I think I also got to that point, and then never got a response :)

We'll see, thanks for your quick reply though!

[2019-10-05 06:24] baselbj commented on #54
I will keep trying to contact them and trying to find some one that can help the information needed is the CFBundleURLSchemes , right?

[2019-10-05 09:56] tschoffelen commented on #54
Yep, just some documentation on how their URL scheme works, like this from Uber: https://developer.uber.com/docs/riders/ride-requests/tutorials/deep-links/introduction

[2019-10-07 12:33] vishgoel007 opened #111 "Cannot pass address as a string to show location on map"
If i have address as a string. Can i use that library to show location of the same address?

[2019-10-09 14:20] #109 closed

[2019-10-17 03:57] mixcas commented on #108
@wiliander how did you solve this?

[2019-10-17 07:38] tschoffelen commented on #108
Doesn't the `title` parameter solve that?

[2019-10-31 01:50] rodrigo-fonseca opened #112 "Google maps doesn't find any route"
I'm having problem with google maps, here is how i call google maps:

[code]

[2019-10-31 01:55] #112 closed

[2019-11-01 06:05] arnaudambro commented on #109
Hi there,

Maybe I missed something, but I have the v2.5.2 installed and the google maps link still sends to something like
https://www.google.com/maps?q=49.81458,0.58729&api=1&saddr=49.81345,0.51375&daddr=49.81458,0.58729, on iOS 13.1

[2019-11-21 11:25] vishgoel007 commented on #111
@tschoffelen Can you please give me some suggestion regarding this issue?

[2019-11-21 11:29] tschoffelen commented on #111
You’d first have to geocode the address into a lat,lng pair to be use it with this library. There’s other libraries and APIs you can utilise to do this.

[2019-11-30 15:12] acoulon99 opened #113 "If title, source, and destination options are included, apple-maps may fail to display directions"
When I include source and destination lat/lng along with a title as options, apple-maps attempts to lookup the title as the destination. If the title is a custom name and apple-maps is unable to find it as a location, a "no results found" state is reached, and no directions are displayed.

I believe this is caused by line 72 within `src/index.js`:

[code]

It seems as though the title is being tre

[2019-12-01 08:52] tschoffelen commented on #113
I believe there's some history behind this, but I don't really remember what.

So feel free to submit a PR to fix this behaviour!

[2019-12-02 04:59] acoulon99 commented on #113
@tschoffelen, sounds good! I'll create a fork and see what I can come up with :)

[2019-12-10 14:51] kznestrela opened #114 "Cancel Button doesn't show on Popup"
I have a Button with the function "showLocation" and whe I click it the Popup shows whitout the cancel button, so i need to open an application (like Google Maps app) and close it to get back to my app.

Here is the Button logic:
[code]

And here is the result after clicking the button:
![issue maps-link](https://user-images.githubusercontent.com/53792747/70539810-eb700500-1b42-11ea-86d7-d5e3723c7

[2019-12-10 16:10] tschoffelen commented on #114
Wouldn't you use the hardware back button on your device to do this usually? Sorry, not super familiar with Android, so might be wrong.

[2019-12-11 08:24] tschoffelen commented on #54
Closing this for now until we have documentation for Careem.

[2019-12-11 08:24] #54 closed

[2019-12-11 13:48] kznestrela commented on #114
I expect that clicking out of the popup and the hardware back button closes the popup, but neither of it are working

[2019-12-14 07:30] acoulon99 opened #116 "Is there a way to return the app the user selects when using showLocation?"
Would something like this be ok here?
https://github.com/tschoffelen/react-native-map-link/blob/1f2af73220b6103d43dbb700463320d068c53c2d/src/index.js#L163

[code]

[2019-12-14 16:07] tschoffelen commented on #116
Yes, that could work!

[2019-12-15 19:55] tschoffelen commented on #116
Fixed in #117.

[2019-12-15 19:55] #116 closed

[2019-12-23 08:25] baselbj commented on #54
sorry for that I will find some way to contact them ... I will try contacting their branch in Jordan ... Hopping to remember doing this

[2019-12-30 01:19] loveholly opened #118 "Set sourceLatitude doesn't work on ios"

[2019-12-30 09:34] tschoffelen commented on #118
Hi!

Is there any specific routing provider you're trying where this isn't working? I think I remember that not all maps apps support this.

If it's all of them (including Apple Maps + Google Maps), could you send along a code example of how you're using the library? Thanks!

[2019-12-30 15:45] loveholly commented on #118
Thanks for your patience.

Here is my code:
[code]

This only works well on Google Maps not  the Apple Maps

[2019-12-30 15:53] loveholly commented on #118
Neither on Waze

[2019-12-30 16:29] loveholly commented on #118
Sorry, it's my fault. This is because of the latitude & longitude given mismatch with the *title*.

[2019-12-30 16:34] #118 closed

[2019-12-30 17:12] tschoffelen commented on #118
Ah, that makes sense - let me know if you have suggestions about how we can be clearer about this in the readme.

[2019-12-30 17:25] loveholly commented on #118
Ok, thx

[2020-01-19 11:27] mustafaskyer opened #120 "[suggestion ] Add locale for constants"
hey @tschoffelen
thanks for your great work,  Appreciated :)
I suggest to add locale for constants, for other langs support,
or just user can pass string, which should override the default one
regards

[2020-01-19 13:56] tschoffelen commented on #120
Hi, thanks!

It's already possible to [override](https://github.com/tschoffelen/react-native-map-link#usage) most of the strings in the library, except for the app names themselves.

Feel free to submit a PR if you need this feature.

[2020-01-19 14:00] #111 closed

[2020-01-22 09:13] tschoffelen commented on #114
Resolved by #119, which has been released to NPM as `react-native-map-link@2.7.2`.

[2020-01-22 09:14] #114 closed

[2020-01-22 14:01] grifotv opened #123 "Waze navigation and note in README.md"
Waze navigation worked for me in iOS. I'm wondering if the note in the README.md `Currently supports all apps except Waze.` is not relevant anymore and could be removed.

[2020-01-22 15:18] tschoffelen commented on #123
Hi! I think navigation works, but not from a specific source lat/lng. It will default to your current location, I presume.

Looking at the code, the source lat/lng is not passed along to Waze: https://github.com/tschoffelen/react-native-map-link/blob/master/src/index.js#L128-L131

[2020-01-22 15:54] grifotv commented on #123
I see now. I'm my case I didn't notice this difference as the source lat/lng was my current location.

Thanks for clarifying!

[2020-01-22 15:54] #123 closed

[2020-01-23 09:46] tschoffelen commented on #120
Ability to set custom app titles is now possible thanks to @exiam (#120). Are you okay with me closing this issue, or is there still something missing when it comes to localization/translation capabilities?

[2020-01-23 11:35] #120 closed

[2020-02-06 23:29] cenzovit opened #124 "Opening google maps in safari does not generate the url nor url parameters correctly"
The url opened in safari when forcing google maps (alwaysIncludeGoogle set to true) on iOS when app isn't downloaded is not generated correctly. Not sure if google changed their url / parameters, but see the following for what seems to be an up-to-date reference: https://developers.google.com/maps/documentation/urls/guide#search-action

[2020-02-06 23:37] tschoffelen commented on #124
Hey, thanks for reporting! Feel free to submit a PR, and I'll gladly merge it.

[2020-02-11 18:08] cristianoccazinsp opened #125 "Can we use addresses instead of GPS coordinates?"
Hello,

Two questions:

- Still maintained?

- Can we use addresses instead of GPS coordinates?

Thanks!

[2020-02-11 18:34] tschoffelen commented on #125
Hi! Very much still maintained!

Addresses work for some of the apps this library integrates with, but not all of them unfortunately, nor does it always lead to the expected result, which is why  passing in coordinates is the standard way to use this library.

There's some really nice geocoding APIs you can utilise if you want to get latitude and longitude pairs based on an address, but that falls

[2020-03-29 18:36] #124 closed

[2020-03-31 10:08] #125 closed

[2020-04-08 16:35] maxxwellfirth commented on #113
@acoulon99 did you manage to find a solution? I also just came across this bug - when all four lat/long parameters are set, Apple Maps will use the `title` variable if it is set, as opposed to the lat/long variables. The only solution I have right now is to remove the value for `title`, which is not ideal

cc: @tschoffelen

[2020-04-13 18:01] ebnersilva opened #131 "Waze option not showing"
I was using until a while ago and everything worked perfectly, but now, for some reason, the option of navigation by the waze app is not shown.

[2020-04-14 08:05] tschoffelen commented on #131
Hi!

Is this on iOS or Android?

[2020-04-15 13:01] ebnersilva commented on #131
Hi!
I took the test on android

[2020-04-21 14:19] ea-kozelski opened #133 "Support for Yandex Taxi"
Adding support for Yandex Taxi
https://github.com/tschoffelen/react-native-map-link/pull/132

[2020-04-21 17:37] tschoffelen commented on #133
Merged in #132. Thanks!

[2020-04-21 17:37] #133 closed

[2020-05-01 20:02] lpikora commented on #131
This library using Alert (https://reactnative.dev/docs/alert) to show app options on Android.

https://github.com/tschoffelen/react-native-map-link/blob/625c3eac82c203a95ad24d20288f183bf07cdb71/src/utils.js#L129

**But on Android at most three buttons can be specified**. So it only shows two options at most (see React Native docs). I don't know if this is intended.

You can use Popup instead... ht

[2020-05-07 22:32] QRCharlie opened #135 "Alert not cancelable on back"
On Android the back button does not dismiss the alert.

As per documentation https://reactnative.dev/docs/alert options may include boolean cancelable.

Option cancelable seems to be missing in https://github.com/tschoffelen/react-native-map-link/blob/master/src/utils.js at line 129.

[2020-05-09 11:04] tschoffelen commented on #135
Good catch? Would you mind opening a PR to add this?

[2020-05-10 08:48] QRCharlie commented on #135
K, will do.

[2020-05-17 14:28] chrise86 commented on #113
Google Maps also seems to use the title.

[2020-05-18 07:47] tschoffelen commented on #113
Possibly, removing the `address` parameter will resolve this, as @acoulon99 in the issue description, but I haven't had time to verify this yet, and am unsure how this might impact current users of the library.

If anybody could do some testing or find some documentation related to the parameter, that would be super helpful.

[2020-05-22 17:14] ashishsober opened #136 "I'm not able to open in Android"

[2020-05-26 11:15] AmauryLiet opened #137 "Doc: missing screenshot in Readme"
Hey!

Just a short recommendation here

I am planning to use the lib shortly, and as a new-comer I would have loved to see a screenshot of the default rendering before starting

My case aside, this could be helpful to anyone interested in using the lib

Anyway, thanks for the work!

[2020-05-28 05:14] tschoffelen commented on #137
That's a good point, would be an interesting addition. Thanks!

[2020-06-05 22:15] AmauryLiet opened #138 "On android, choosing Google Maps fallbacks on native app selection"
Hey there!

Just came across an issue on android,
All works well for every app I select except Google Maps (the major one unfortunately): when I select it, instead of seeing the app opening, I see the native app selector

![Screenshot_20200605-235218_Android System](https://user-images.githubusercontent.com/9596435/83926613-a42d9e80-a78a-11ea-992d-b3676925ccbd.jpg)

Thanks again for the hard work

[2020-06-17 09:14] tschoffelen commented on #138
That's very annoying! The reason for that is that a lot of apps now act like they are Google Maps (ie listen to the Google Maps URI scheme), and I'm not aware yet of a way to directly open Google Maps without that app chooser showing up if there's more than one app that matches the URI scheme.

[2020-06-17 13:10] AmauryLiet commented on #138
Indeed the `maps.google.com` links appears to be handled by all of these 'parasite' apps

The way around might be to work with Google recommended way of working with [Intent](https://developers.google.com/maps/documentation/urls/android-intents) for android

Not sure how it would fit with the current implementation though (you might need a native part)

[2020-07-07 05:42] Luisquii opened #140 "New platforms"
Hi, just a simple question.

Are you planning or is it possible to add Didi and Cabify to this repo?

[2020-07-07 07:21] tschoffelen commented on #140
Hi! Good question. Yes, there are people opening PRs for support for new platforms all the time, and I happily accept those.

I don't have time to build those integrations myself, but there is a guide on how to do it here: https://github.com/tschoffelen/react-native-map-link/blob/master/docs/add-app.md

[2020-07-08 06:07] #140 closed

[2020-07-10 13:03] millisande opened #141 "Can the marker use lat long whilst still displaying a different address?"
My use case is that I wish to display the title field in the Map provider but the marker should use the Lat/Long which is more specific than the address.

I am getting similar but not ideal behaviour when using Apple Maps and Google Maps, it always defaults to using the address to set the marker if the address is a real address, if the address is not real I get very varied behaviour.

Could you pl

[2020-07-22 22:35] #135 closed

[2020-07-27 06:53] rakeshmaddala87 opened #147 "Build failures in latest version - 2.7.14"
Hello,

We are facing below issue when built with latest release 2.7.14

FAILURE: Build failed with an exception.

Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.
* What went wrong:
Use '--warning-mode all' to show the individual deprecation warnings.
Execution failed for task ':app:mergeUatReleaseResources'.
See https://docs.gradle.org/5.4.1/userguide/c

[2020-07-27 08:37] tschoffelen commented on #147
Thanks for pointing this out!

I've just released `2.7.15` with a new image for Gett, could you give that version a try?

[2020-07-27 08:37] tschoffelen commented on #136
Hi @ashishsober, could you explain your issue with a bit more detail?

[2020-07-27 18:48] ebnersilva commented on #131
@lpikora oh great! Your solution works like magic!

Thanks! 👍

[2020-07-27 18:48] #131 closed

[2020-09-13 11:57] #136 closed

[2020-09-18 04:50] eaTnuG opened #150 "Is it ok to add a dependency?"
First, thanks for the great tool. It really helped me a lot.

I'm now building an app which will soon go public in Korea. And in Korea, the Naver Map([ios](https://apps.apple.com/us/app/naver-map-navigation/id311867728),[android](https://play.google.com/store/apps/details?id=com.nhn.android.nmap&hl=ko)) is the most popular among map applications. So I'm trying to add linking logic to this library.

[2020-09-18 04:54] eaTnuG commented on #150
or is it ok to add showLocation options specific to naver map?

[2020-09-18 10:09] tschoffelen commented on #150
Hi! I think adding a dependency with native code is not really a great idea just to support one app, so I'd rather add a separate key to the `showLocation` options

[2020-09-18 10:10] #147 closed

[2020-09-19 07:43] eaTnuG commented on #150
thanks for the response. I've done it and sent pr here(https://github.com/flexible-agency/react-native-map-link/pull/151#issue-489686755)

[2020-09-21 10:09] #150 closed

[2020-10-02 22:06] pke opened #152 "Add support work specifying directions mode: walk, car, bike"
Could that be another generalised property that gets converted individually for each provider?

[2020-10-03 09:16] tschoffelen commented on #152
Sounds like a great idea!

[2020-10-04 18:42] pke commented on #152
Ok, I know the args for gmaps and apple-maps. Will check with the others where it makes sense.

[2020-10-07 06:32] salocinhawk opened #153 "Allow iOS to navigate directly to apple maps instead of routing through safari first"
I noticed while using this that Apple Maps first opens safari then opens Apple Maps. I checked the `constants.js` file to see what the `apple-prefix` was and noticed this line in the `generatePrefixes` function:

`'apple-maps': isIOS ? 'http://maps.apple.com/' : 'applemaps://',`

My proposal is that you can prefix on iOS with `maps://` instead of the url and it will navigate to the Apple Maps app

[2020-10-07 07:10] tschoffelen commented on #153
Thanks for the PR!

[2020-10-07 07:10] #153 closed

[2020-10-16 02:25] kennethwyu opened #155 "Google Maps ignores query_place_id parameter"
Version `2.7.18` passes `query_place_id` to `maps.google.com` in the following format:
https://maps.google.com/?q=38.897683,-77.036531&query_place_id=ChIJ37HL3ry3t4kRv3YLbdhpWXE

While this URL does pull up the correct latitude and longitude, it doesn't appear to actually pull up the appropriate Google Maps Place information.

Per Google Maps' [Universal Cross-Platform Syntax](https://developers.g

[2020-10-16 10:24] tschoffelen commented on #155
We should probably indeed make [this line](https://github.com/flexible-agency/react-native-map-link/blob/master/src/index.js#L94) just use the HTTP URL.

We can't do that for the detection mechanism (the `prefixes` object), because there's no way on iOS to determine if an app is installed using a Universal Link, and we don't want to show Google Maps if the user doesn't have the app installed (unle

[2020-10-16 13:50] kennethwyu commented on #155
Thanks for the reply; I've worked around this thus far by updating the HTTP url in `constants`, setting `alwaysIncludeGoogle ` to true and and building the query accordingly (either `?api=1&query=` or `?q=`, based on whether we're using Universal Link or URL scheme).

Can definitely submit a PR but wanted to get your thoughts (`query_place_id` might not be the only parameter that doesn't work in t

[2020-11-07 00:21] Noitidart commented on #125
For the main ones like google and apple maps does address work? Those are the only ones I was offering.

[2020-11-24 18:28] daweido opened #156 "Google Maps won't open unless it has been open beforehand"
Hello,

I'm creating this issue because I'm having some problem opening Google Maps on an Android phone when the application has not been opened before.

I'm rocking the styled popup. Upon choosing Google Maps, the native app chooser opens up, and then nothing happens.

However, if Google Maps is running (has been opened beforehand), then Google Maps App does open.

Has anyone had this issue and f

[2020-11-25 00:38] kukuandroid commented on #156
Me too. im having this issue on ios 14.2 . Nothing happened, no error thrown

[2020-11-25 16:39] kukuandroid commented on #156
@daweido Hi, you found the solution ?

[2020-11-25 16:42] daweido commented on #156
@kukuandroid Unfortunately, not at all...

[2020-11-25 19:05] daweido commented on #156
ping @tschoffelen

[2020-12-16 20:00] flyingSAP opened #157 "Selecting Google Maps starts Uber on Android"
Hi,

when calling `showLocation`like so on Android using `"react-native-map-link": "^2.7.19",`

[code]

I receive the following dialog:

![WhatsApp Image 2020-12-16 at 20 55 12](https://user-images.githubusercontent.com/26920164/102400302-05f47e00-3fe2-11eb-9387-4de6ac4423b4.jpeg)

When selecting Google Maps it opens Uber always:

![WhatsApp Image 2020-12-16 at 20 55 12 (1)](https://user-images.gi

[2020-12-17 11:09] Nevosis commented on #157
Same here.
To go deeper, I tried to :
`Linking.openURL(`https://maps.google.com/?q=loc:${lat},+${lng}+(${encodedTitle})`)`
And it opens uber on my coworker phone, opens googlemap on mine.

[2020-12-17 11:27] MaxKicw commented on #157
Same here!

[2020-12-18 09:54] tschoffelen commented on #157
Unfortunately the Uber app on Android hijacks the maps.google.com URL. Unlike on iOS, where you need to verify your app belongs to a certain domain by uploading a `apple-app-site-association` file to the server, on Android anyone can claim a certain domain belongs to their app.

So there's not much we can do about this unfortunately... Hopefully Google fixes this at some point, seems like a big se

[2020-12-18 10:26] Nevosis commented on #157
Thanks @tschoffelen

On android, I changed thing to work with native select geoloc app by Linking to
`geo:0,0?q=${latLng}(${title})` instead of linking to `https://maps.google.com/?q=loc.....`

[2020-12-18 10:34] flyingSAP commented on #157
Using `geo:latitude,longitude?z=zoom` is also described in the Google Maps Intents for Android here: https://developers.google.com/maps/documentation/urls/android-intents#display_a_map

[2020-12-18 15:54] tschoffelen commented on #157
Solved by #158

[2020-12-18 15:54] #157 closed

[2020-12-18 15:55] tschoffelen commented on #156
Hmm, I can't reproduce this currently. Can I just clarify if this is happening on Android, iOS or both?

[2020-12-18 15:55] tschoffelen commented on #138
This might have been solved by #158.

[2020-12-18 17:00] daweido commented on #156
Hi!

It was on Android where this bug happened.

[2020-12-18 22:25] tschoffelen commented on #156
We just changed something in the URL scheme for Google Maps on Android (see #158), maybe that has helped.

[2020-12-24 04:48] vikalsingh opened #159 "Uber icon showing when open popup"
appsWhiteList: ['google-maps'], // optionally you can set which apps to show (default: will show all supported apps installed on device)

I used only google map in appWhiteList option, but still showing Uber icon also in popup. How to remove Uber icon, i want to show only google map. Please any help

[2020-12-28 10:54] tomLadder commented on #152
Hey @pke Any news on this?

[2020-12-29 14:17] tschoffelen commented on #159
This is fixed in #158

[2020-12-29 14:17] #159 closed

[2021-01-01 21:16] pke commented on #152
Didn't have time last year anymore. When its more relaxed I might provide a PR

[2021-01-26 06:46] ahdam opened #161 "Integration request: Bolt"
This is a feature request, not a bug.
Although this module is awesome, integration with Bolt would make it even more so :)

[2021-01-28 09:28] vvscode opened #162 "Some changes after the latest release"
Both after the changes from https://github.com/flexible-agency/react-native-map-link/pull/158/

1) now on opening the link it asks which app should be used (and if default handler for geo is not google map it might open that app instead of gmaps)

2) on opening google maps it doesn't show the route

[2021-01-30 18:50] jblancoh commented on #162
@vvscode
I have same issues.
When I try to open google maps this open with this url "geo:?" instead of "https://maps.google.com/"

I don't have the uber app

Temporal solution:
Fork and remove condition for "geo:?" or Rollback version.

[2021-02-01 20:49] tschoffelen commented on #161
Do you know if Bolt has any documentation available on their URL scheme?

[2021-02-11 14:12] vvscode commented on #161
Bolt has some deeplinking schema (at least for ios), but it's not ready to be presented as public api

[2021-02-17 13:50] KubilayKerim opened #163 "On Android Google Maps doesn't have a marker. Map is focused on current location"
I just installed and copy pasted showLocation and put it in a button onPress . I dont use expo. React Native version is 0.62.2.

[2021-03-04 15:09] komolova commented on #138
This issue could be fixed by using google maps cross-platform universal URLs instead of 'geo:' intent for Android. The google maps [docs](https://developers.google.com/maps/documentation/urls/android-intents#intent_requests) said "In order to launch Google Maps with an intent you must first create an Intent object, specifying its action, URI and package." I guess there is missing some native part

[2021-03-04 15:43] tschoffelen commented on #138
Hi @komolova!

Indeed, it would be possible to do using intents. My reason for initially not doing that was that it would complicate the installation of the package, but now that RN supports auto-linking for Android too, there is not really a reason to not add this, except for the fact that 1) I haven't had time to look into this yet, 2) My Java knowledge is very very limited 😄

**So if anyone wou

[2021-03-04 15:45] #162 closed

[2021-03-04 15:45] #163 closed

[2021-03-04 16:06] #155 closed

[2021-03-04 16:07] tschoffelen commented on #155
Fixed in version `2.7.22`.

[2021-03-04 16:09] tschoffelen commented on #156
Closing this issue in favour of #138

[2021-03-04 16:09] #156 closed

[2021-03-04 18:27] tschoffelen commented on #138
That's actually what we do at the moment, but multiple apps tell Android that they are able to open 'maps.google.com' links, like Uber and CityMapper.

[2021-03-05 09:13] komolova commented on #138
@tschoffelen
As I see in a [source code](https://github.com/flexible-agency/react-native-map-link/blob/5eb530fa5b3440f4f3a83f8bf64d44d5fb6b7c0c/src/constants.js#L35) of this library
For android the 'geo:' scheme is using, not 'maps.google.com' .
I think using geo scheme without specifying a package let the Android system ask user to choose an app.  To specify a package that you want to handle this

[2021-03-05 09:55] tschoffelen commented on #138
Hi @komolova, we were using `maps.google.com` for a while, and then switched to `geo:` in the previous version of the library, but recently switched back to `maps.google.com` because it was creating all sorts of issues.

But apps like Uber and CityMapper listen to both of these unfortunately.

Current version: https://github.com/flexible-agency/react-native-map-link/blob/master/src/constants.js#L3

[2021-03-05 10:30] komolova commented on #138
Ok, so why are you using 'maps.google.com'? Maps URLs doc says it should be 'www.google.com/maps/...'.
For example "https://www.google.com/maps/dir/?api=1&parameters" or “https://www.google.com/maps/search/?api=1&parameters”

[2021-03-08 10:38] tschoffelen commented on #138
Ah good point, I wasn't reading well. I don't know if that makes a difference though? But happy to try it.

[2021-03-09 10:56] tschoffelen commented on #138
Amazing! Would you mind opening a PR?

[2021-03-10 10:35] tschoffelen commented on #138
Thanks @komolova!

[2021-03-12 14:13] #138 closed

[2021-03-12 21:36] vvscode opened #166 "Refactoring requests"
I went to the code to make a PR with 2gis navigator, but after playing with it I have a proposal:

0) TS is nice to have, for sure =)
1) can we split `showLocation` to a per-app URL generator? I see currently a number of cases, but adding the new app doesn't have any nice way to do the new app.

[2021-03-12 21:53] vvscode opened #167 "Yarn install gives changes in the yarn.lock file"
Running `yarn` on the master branch gives diff

yarn version is `1.22.5`

[code]

[2021-03-12 21:55] vvscode opened #168 "Some code formatting issues"
I don't see any linter rules, prettier etc in the project. On saving `index.js` file I have next changes

![image](https://user-images.githubusercontent.com/6904368/111002544-b29e8b80-8396-11eb-8dfd-e65d1be1107c.png)

and they look legit for me. Shouldn't we add some rules about the code + github actions setup ?

[2021-03-13 10:36] tschoffelen commented on #166
I like your second idea! Definitely would be good, that function is becoming quite complicated now that we support so many navigation apps...

TypeScript could be nice too, but personally wouldn't have too much of a priority for me.

[2021-03-13 10:41] tschoffelen commented on #167
Good point, I changed something in package.json yesterday without running yarn.

[2021-03-13 10:41] #167 closed

[2021-03-13 12:12] vvscode commented on #166
that is more a question, if you're open for PR's in that direction?

[2021-03-13 16:49] tschoffelen commented on #168
Ran eslint, and made this a requirement for new PRs.

[2021-03-13 16:49] #168 closed

[2021-03-13 16:57] tschoffelen commented on #166
Certainly!

[2021-03-13 18:59] vvscode commented on #166
According to my failure in the next PR -, what are the general approaches to test the package?

Or first it worth to make a PR with some unit tests?

[2021-03-13 20:05] tschoffelen commented on #166
Yeah, that might be helpful. The current tests are very minimal :)

[2021-03-18 10:28] nikoloz110 opened #171 "appsWhiteList not working on android"
I have it set like this
[code]
but I am still seeing 'Bolt' & 'Yandex" suggestions
![161796626_202205154990364_1782361589637028958_n](https://user-images.githubusercontent.com/17814568/111611626-19d49980-87f6-11eb-8b6f-f926563252a6.png)
 while opening the map
android 10

[2021-03-18 10:56] tschoffelen commented on #171
Hey, this is actually related to #138.

The library correctly detects that only one option is available based on the whitelist you've set ('google-maps'), so it immediately opens that app. Unfortunately, Bolt and Yandex Go both 'hijack' Google Maps by telling Android that they're able to open maps.google.com, which is why the system native app chooser is then shown.

There's unfortunately not too

[2021-03-18 13:59] #171 closed

[2021-03-31 08:42] vvscode opened #173 "Passing sourceLatitude/sourceLongitude as undefined breaks the path"
At the https://github.com/flexible-agency/react-native-map-link/blob/master/src/index.js#L42

we verify if params are in the options, but do not check the value, so for `undefined` we have

[code]

for sure it can be fixed in the client code, but seems like nice to handle it inside the lib

![image](https://user-images.githubusercontent.com/6904368/113116399-14277c80-9216-11eb-9cb9-8b78d656de94.pn

[2021-04-02 12:41] vvscode commented on #166
@tschoffelen  are you fine with PR to migrate code to TS?

[2021-04-05 14:13] tschoffelen commented on #166
PR: #175

[2021-04-05 14:13] #166 closed

[2021-04-09 03:30] gpbaculio opened #176 "location is always opening in browser but not on the google maps app?"
this is simlpe code:

[code]
i am not sure what i missed but i want to make it open google maps app instead of browser by default?

[2021-04-15 15:30] arabold opened #177 "Android 11 / SDK 30 support"
It took me a while to figure this out, but when switching to Android 11/Android SDK 30 (i.e. using Expo SDK 41), this library doesn't work out of the box anymore. The reason is the new [Package Visibilty](https://developer.android.com/training/package-visibility) security feature. We'll have to update our `AndroidManifest.xml` to explicitly allow querying for other apps.

I'm posting my changes he

[2021-04-19 20:29] tschoffelen commented on #177
Feel free to open a PR to add this to the README if you have time. It might not be perfect yet, but it's better than not having anything at all.

Also, if you're going to do that, could I point out Github allows using the amazing `<details>` HTML tag in Markdown?

[code]

Might be a good way to list the instructions for both iOS and Android, without making the README super long.

[2021-04-19 20:29] tschoffelen commented on #176
Could this actually be related to #177 perhaps? I.e. are you using Android 11?

[2021-04-20 15:32] gpbaculio commented on #176
@tschoffelen yes, i am using Android 11/sdk 30 after upgrading RN

[2021-04-20 15:32] #176 closed

[2021-04-29 00:39] Aryk commented on #113
Hey guys...maybe a simple low-risk solution would be to add appleForceLatLon since we already set that precedent  with googleForceLatLon?

It's really a bad experience for google maps to suffer because we can't specify title without screwing up Apple... lol

[2021-04-29 01:13] Aryk commented on #113
Alright...I did some research:

https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/MapLinks/MapLinks.html

It's actually super confusing,

For "q":

For "address":

I did some testing without having a source destination...and seems to be working without `address`.

[2021-04-30 00:51] Aryk commented on #113
@tschoffelen my PR is approved...but how does it actually get merged in?

[2021-04-30 07:44] #113 closed

[2021-05-10 11:57] Aryk opened #182 "Many options not showing up"
I'm using Expo Managed workflow. I'm on the latest SDK (41), but this also was failing on SDK 40.

I just ran a new build per the instructions here: https://github.com/flexible-agency/react-native-map-link/blob/master/docs/expo.md

Also, this is in my infoPlist key in my app.json:

[code]

I have Yandex Go and Uber installed, but I only get:

 * Apple Maps
 * Google Maps
 * Waze

As options. What

[2021-05-10 12:00] #182 closed

[2021-05-10 12:00] Aryk commented on #182
Sorry guys...had the wrong app opened on my end 🤦

[2021-05-24 07:11] tschoffelen commented on #177
I've now added this to the README of the library, and have confirmed this works as expected.

[2021-05-24 07:11] #177 closed

[2021-05-26 19:50] DwCleb commented on #177
@tschoffelen  an important  point to mentioned at docs: https://stackoverflow.com/questions/62969917/how-to-fix-unexpected-element-queries-found-in-manifest-error

[2021-05-27 06:04] tschoffelen commented on #177
Good point, I've added some details:

https://github.com/flexible-agency/react-native-map-link/commit/6faf0f4b08f031e1dad7efd4f5d7a81e478f3c31

Thanks!

[2021-05-31 09:38] wromthrax commented on #177
I guess this cannot be used in managed Expo app then (no access to AndroidManifest)?

[2021-05-31 19:13] tschoffelen commented on #177
I don't think Expo has a way to deal with Android 11 Package Visibility yet as far as I can tell...

[2021-06-02 11:22] dungle-groove opened #185 "Show map location when useSourceDestiny is empty instead direction"
I try this library with Google Maps but it could not display the location when the route path is too long. If useSourceDestiny is empty, it should be show a map view instead a map direction

[2021-06-29 19:16] rollsroyc3 opened #188 "iOS Apple Maps issue"
I've noticed an issue with Apple Maps when calling the following:

```showLocation({app: 'apple-maps', latitude: 39.1160797, longitude: -84.5732168})```

At first I get the preview that shows the pin on the correct address, but you can see in the Address section on the screenshot below it has already gotten rid of the street number (1255 Ross Ave Cincinnati Ohio which you can confirm on the Deskto

[2021-06-29 19:25] rollsroyc3 commented on #188
I upgraded to the latest version
 "react-native-map-link": "^2.7.28",

And I am testing on iOS Simulator running 14.5

[2021-06-30 20:08] rollsroyc3 commented on #188
Logging the output from the showLocation function I get ```maps://?ll=39.1160797,-84.5732168&q=Location```

If I hardcode this it works ```maps://?q=39.1160797,-84.5732168``` so not sure if its just an issue with ios maps, or something im doing wrong but I guess Ill fork and change it.

[2021-07-26 09:12] dan-iliescu opened #191 "Language Support"
Is there any foreign language support or are there any plans to implement it in the future? Thank you.

[2021-07-26 17:05] tschoffelen commented on #191
There is not too much text in the library - the dialog title and message can already be customised via the `options` object that is passed into `showLocation()`

Happy to see how you think that could be improved!

[2021-08-23 11:56] OnurSevket opened #193 "Always Show Popup only installed one map app"
Hi,

I am using the popup component, but although there is only one map application on my phone, it is constantly waiting for me to choose a map application. If only One application is installed, is it possible to open a loaded map automatically?

![image](https://user-images.githubusercontent.com/23638184/130442915-4b07d649-6d3c-457b-a402-c346bd5c2ee6.png)

[2021-08-23 13:54] tschoffelen commented on #193
Hi there!

I think that's not supported with the popup since it was causing problems with the modal being immediately dismissed once it's brought up.

The default mode of using the library does support it.

Alternatively, you can probably work around it by first calling [the `getAvailableApps` function](https://github.com/flexible-agency/react-native-map-link/blob/master/src/utils.js#L12) directly

[2021-08-23 14:15] OnurSevket commented on #193
Thanks for answer,

If possible, can you explain how I can access internal functions?

[2021-08-23 15:05] tschoffelen commented on #193
You should be able to do something like:

[code]

[2021-08-24 07:24] Kaung-Htet-Naing opened #194 "How Can i stop auto directions in google maps"
![Screenshot_2021-08-24-17-10-42-194_com google android apps maps](https://user-images.githubusercontent.com/50987097/130603161-65105d1c-b830-4142-a432-77b1d960e81c.jpg)

When clicking google Maps, map is using directions and finding routes. How can I stop this ?

This is my Code !
` <Popup
          isVisible={isvisible}
          onCancelPressed={() => setIsVisible(false)}
          onAppPressed

[2021-09-14 16:16] erickriva commented on #152
Take a look at #195

[2021-09-19 09:39] tschoffelen commented on #194
Duplicate of #185 - if you can help with a PR that would be great!

Closing this issue so that we can continue the conversation in #185.

[2021-09-19 09:39] #194 closed

[2021-09-19 09:40] tschoffelen commented on #191
Closing this for now, as it is already possible to customise most of the text. Happy to accept PRs to improve this system though!

[2021-09-19 09:40] #191 closed

[2021-09-20 07:42] #152 closed

[2021-09-20 16:53] RNATALENKO opened #196 "I'm getting a main module metro error, not sure how to fix and why it's occuring"
![Screenshot_20210920-094130](https://user-images.githubusercontent.com/55728867/134041174-f8025dbb-0092-4f51-bf50-a0e154ee197b.png)
![Screenshot_20210920-094125](https://user-images.githubusercontent.com/55728867/134041177-f0c2cb25-e850-4f7c-8fc6-c7408155612f.png)

My apps package.json and the versions:
"dependencies": {
    "react": "17.0.2",
    "react-native": "0.65.1",
    "react-native-map-l

[2021-09-24 14:48] jmbeach opened #197 "Google Maps not in list even though installed in Expo debugger"
For some reason, Google Maps only shows up in my list whenever I deploy a production build. I want to see it even when I'm using the Expo debugger. All I can see is Apple Maps and Waze.

Any ideas what would cause this?

This is in my app.json

[code]

[2021-09-24 15:00] jmbeach commented on #197
Also, here's my code where I actually open the list:

[code]

[2021-09-24 15:01] jmbeach commented on #197
Oh and I'm on version 2.8.0

[2021-09-24 15:07] jmbeach commented on #197
Oh, just noticed the `alwaysIncludeGoogle` option. Google maps shows up when I include that. Should probably show up either way, right?

[2021-09-24 20:15] tschoffelen commented on #197
Hi Jared! Unfortunately that's due to the fact that your infoPlist changes in app.json only take effect when you build your own app. The Expo preview app has a set Info.plist that can't be dynamically changed.

[2021-09-26 23:31] #197 closed

[2021-09-27 09:56] mohammed-sec2010 opened #198 "add Sygic map"
Hi
add this Sygic GPS Navigation & Offline Maps app please to be supported

[2021-09-27 22:53] fgarzonhz opened #199 "Enable point in GoogleMaps"
At this moment, the library can do route between 2 points, very good. However in some times we need only a point in GMaps, so if you can enable the possibility to send as parameter if we hope to do a route or only paint a point from coordinates.

Thanks.

[2021-09-28 19:21] theneekz commented on #185
the url should be `https://www.google.com/maps/**search**/?api=1` and if you don't useSourceDestiny `&**query**=35.321386,-80.209822`.

[2021-09-28 19:39] theneekz opened #200 "Patch for google maps always opening as directions"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-map-link@2.8.0` for the project I'm working on.

This is to solve the issue of google maps only opening links as directions rather than single markers when you exclude a sourceLatitude & sourceLongitude.

Here is the diff that solved my problem:

[cod

[2021-09-28 19:40] theneekz commented on #199
[see my patch](https://github.com/flexible-agency/react-native-map-link/issues/200#issue-1010135195)

[2021-09-28 19:40] theneekz commented on #185
[see my patch](https://github.com/flexible-agency/react-native-map-link/issues/200#issue-1010135195)

[2021-09-28 21:46] vvscode commented on #173
@theneekz  PR is welcome

[2021-10-06 01:13] theneekz commented on #200
[PR link](https://github.com/flexible-agency/react-native-map-link/pull/201/files)

[2021-10-06 01:15] theneekz commented on #173
[pr submitted](https://github.com/flexible-agency/react-native-map-link/pull/201/files)

[2022-01-26 06:54] nzwnabdulwahid opened #205 "No map application loaded on Popup"
Hello everyone, I am using `"react-native-map-link": "^2.7.19"` and today after a new release, some of the android's phone are not showing any map application - and it is confirmed the devices have at least Google Maps or Waze installed.

This are the snippet for the popup
[code]

It is confirmed that both latitude and longitude are not undefined or null.

Is there any way I could debug this furth

[2022-01-27 10:18] tschoffelen commented on #205
Hi there! Are you sure you've followed the post-install steps from the README to whitelist these apps?

[2022-01-27 18:29] srudberg commented on #188
We are seeing the same issue and only with Apple maps.   Preview shows the right pin location (and lat/long) but when you click directions, it gets directions to a different lat/long on the same street.  It's like it is doing a reverse geo on the lat/long to get the address, then taking the street (without the house number) and geocoding the street location (without house number) and then giving d

[2022-01-28 18:57] mgithubmessier commented on #188
Think I found a solution after looking at your comment @rollsroyc3. After reading some of [apple's map scheme reference](https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/MapLinks/MapLinks.html), it's looking like this library should be using the `sll` parameter, not the `ll` parameter.

I tested that locally and it worked well, so I'll open a PR to this librar

[2022-01-28 19:03] mgithubmessier commented on #188
This is the PR
https://github.com/flexible-agency/react-native-map-link/pull/207

[2022-01-31 16:24] tschoffelen commented on #188
Fixed in #207 - thanks @mgithubmessier!

[2022-01-31 16:24] #188 closed

[2022-02-07 08:19] qaws5503 opened #209 "Not showing action sheet or alert on showLocation."
Hi, I'm facing the problem I mentioned in the title. When I use `showLocation` it immediately jump to the default map without asking which app I want to use. Which isn't the correct behavior mentioned in [README.md](https://github.com/flexible-agency/react-native-map-link/blob/master/README.md).

I've followed the post-install step of expo, which is in this [document](https://github.com/flexible-a

[2022-02-07 09:49] tschoffelen commented on #209
The library automatically opens the app if there's only one app in the list.

This can be because of a couple of things:

- You only have one supported maps app installed
- You haven't properly executed the post-install steps, or haven't re-built the native part of the app
- Or you're using the Expo app to debug whilst testing, which doesn't have any external apps whitelisted to open. Once you com

[2022-02-09 03:28] kr2goApp commented on #209
I've the same problem with my Samsung Note 10 and Xiomi S9. On Huawei and iOS works fine.
This is my code:
          showLocation({
            latitude: latitudeValue,
            longitude: longitudeValue,
            alwaysIncludeGoogle: true,
            dialogTitle: "Title Value",
            dialogMessage: "Dialog Message",
            cancelText: "Cancel Text",
            appsWhiteList: ['

[2022-02-09 09:39] #196 closed

[2022-02-14 16:25] qaws5503 commented on #209
[UPDATES]: @tschoffelen When I upgrade to Expo SDK44. My Pixel 5 doesn't have any available apps when I use `popup`.(My device has install google-map and uber)
Is there any new changes in android? And sorry I don't have a iOS device to test this problem exist in iOS or not.

[2022-02-16 14:42] MedRaid opened #210 "Pass an address as a parameter instead of a long-lat parameters"
can we passe an adresse as a paramater instead of a long-lat parameters ?

[2022-02-22 17:16] ManishaMShetty opened #211 "No map application loaded on Popup"
I am using **"react-native-map-link": "^2.8.2".** Android phones with version 11 and 12 are not showing any map application and it is confirmed the devices have at least Google Maps or Waze installed. Android phones with version 10 or below are working fine as expected.

![no location options](https://user-images.githubusercontent.com/49382901/155183694-705280fd-5940-4874-8677-3115e5c35c0e.jpg =24

[2022-02-23 07:13] #209 closed

[2022-02-23 07:41] qaws5503 opened #212 "Update document of Post-install steps for expo user"
I dig in with the problem here #209 . After plenty of hours, I finally work through it.
As the author mention in Post-install steps Android must update `AndroidManifest.xml`. But in the Expo section it only says how it works on iOS, doesn't mention how to work on android while using Expo.

So I searched how to change `AndroidManifest.xml` file in Expo. And the answer is using plugins, but this onl

[2022-02-23 07:42] qaws5503 commented on #209
[SOLVED]: #212

[2022-03-10 11:36] rcstanciu commented on #211
+1

Android 9 working fine while Android 11 not showing any map applications.

[2022-03-25 11:49] flaviodamaiajr commented on #211
+1

[2022-03-25 12:39] rcstanciu commented on #211
Following the steps in README fixed the issue for Android 11.

https://github.com/flexible-agency/react-native-map-link/blob/246561baa99b61760ef30ee6c4de6228024599fa/README.md?plain=1#L89

[2022-04-01 15:51] emehmet commented on #212
Hi,
It still won't open for me. Are there any permission that need to be added?

[2022-04-05 21:02] mistersender commented on #211
i'm also facing this issue, and I have updated the manifest. Before this update, i could see both waze and google maps on android, but now (even after including the manifest updates) I only see google maps, and waze throws an error `No Activity found to handle intent`

[2022-04-06 05:13] ManishaMShetty commented on #211
Following the steps in README fixed the issue for Android 11 and above. Thanks.

[2022-04-06 05:13] #211 closed

[2022-04-12 16:14] qaws5503 commented on #212
@emehmet I didn't add any extra permission, so I recommend you to check if `AndroidManifest.xml` has correctly been changed. You can check it by below.

You can first type `expo eject` in the command line. Then find `AndroidManifest.xml` under android folder and check for if the permission is like [this](https://github.com/flexible-agency/react-native-map-link#2-post-install-steps).
By doing this

[2022-04-13 12:45] guvenakcoban commented on #188
#207

`q` parameter meaning from [Scheme Ref](https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/MapLinks/MapLinks.html)

Here it says: parameter q is using as label when it is with 'll' or 'address'. So, what would happen with `sll`?

I'm facing issues about that.

If I run this code:

[code]

Apple Maps shows the Tura which is a town in India but the lat, lng

[2022-04-22 19:14] chunhungchen commented on #212
thanks for your solution but it seems should modify it a little bit here.

[code]

[2022-05-08 06:20] jzxchiang1 opened #222 "Doesn't open location in Apple Maps"
When I click on the link and select Apple Maps from the popup on iOS, it switches to Apple Maps and displays my current location but NOT the lat/long location I passed to `showLocation` like such:

[code]

I am testing on an iPhone 13, iOS 15.2 simulator, 2.9.3 version of this library. It works flawlessly with Google Maps. Anyone know what is the issue?

[2022-05-13 03:05] Giang-git opened #223 "not showing location in search bar google map"
<strong>Hi!</strong>
I open google map with iphone and the location on input is not displayed, for android it is displayed normally
anyone like me?
![image](https://user-images.githubusercontent.com/70569501/168202842-21459093-a7e7-45cb-963d-a5971b7dc368.png)
<br />
![image](https://user-images.githubusercontent.com/70569501/168203089-e6113baf-b781-4059-b2d7-9b1759d2c3a2.png)

[2022-05-17 10:02] emehmet commented on #212
It worked for me when I deleted node_modules and build again with eas build on development-client.

[2022-05-17 10:07] Buk1m commented on #212
Thanks, I will have to migrate the project to EAS cli, I will post an update if it is working on EAS build. (it may take few days as  it's not a priority for now).

[2022-05-19 08:57] fcandi commented on #222
I had the same problem.

I do not have the time to dig deeper, but I found a simple preliminary fix: simply also set the title to "lat,lng". Its not pretty, but it works for now :)

[2022-05-19 13:15] Kjagd commented on #222
We are also seeing Apple Maps just searching for the Title and ignoring the lat/lng. Not sure if this is somehow new behaviour from Apples side?

[2022-05-19 20:38] arcollector commented on #177
I am having this same problme, `openInbox` does nothing, i added to the manisfer
[code]
but nothing happen

[2022-05-21 05:59] tschoffelen commented on #177
@arcollector - I think you might be talking about another library?

[2022-05-21 17:23] arcollector commented on #177
@tschoffelen yep i am very sorry

[2022-05-23 02:45] trooperandz commented on #222
I am seeing the same thing. Apple Maps will open the searched map location correctly when `title` is passed, but if you only pass the `latitude` and `longitude`, it will ignore that and use your current location instead.

[2022-05-23 08:04] Kjagd commented on #222
Seems like in this PR https://github.com/flexible-agency/react-native-map-link/pull/207 the query was changed to use the `sll` param. But according to the docs, this is a search location, ie. the query http://maps.apple.com/?q=Mexican+Restaurant&sll=50.894967,4.341626&z=10&t=s will find Mexican restaurants around the coordinate.

So I don't think the current implementation is correct, at least not

[2022-06-15 07:37] tschoffelen commented on #222
Fixed in #224

[2022-06-15 07:37] #222 closed

[2022-06-15 07:38] #193 closed

[2022-06-15 07:38] #205 closed

[2022-06-15 07:39] tschoffelen commented on #200
Fixed in #201

[2022-06-15 07:39] #200 closed

[2022-06-15 07:40] tschoffelen commented on #185
Fixed in #201

[2022-06-15 07:40] #185 closed

[2022-06-27 20:53] fernandaalbuquerque opened #226 "I'm not using appsWhiteList, but the showLocation just open the native map (not shows all downloaded apps)"
Example:
showLocation({
      latitude: latitude,
      longitude: longitude,
      title: name,
      dialogTitle: 'Escolha o App de sua preferência',
      dialogMessage: "App de preferência",
      cancelText: 'Cancelar',
    });

[2022-06-28 07:06] tschoffelen commented on #226
I'm assuming that means you might not have followed the post-install instructions correctly to whitelist your app to open the other apps. See README for instructions, and make sure to fully rebuild afterwards.

[2022-07-13 17:56] crzycoder opened #227 "Apple Maps Navigation bar is not updating when direction starts"
`showLocation({`
       ` latitude: sourceLat,`
    ` longitude: sourceLng,`
        `sourceLatitude: lat,`
        `sourceLongitude: lng,`
        `alwaysIncludeGoogle: true,`
       ` dialogTitle: 'Open map',`
        `dialogMessage: 'What app would you like to use?',`
        cancelText: 'Cancel',
        `appsWhiteList: ['google-maps', 'apple-maps'],`
        `directionsMode: 'car'`
   ` })`

[2022-07-18 01:55] ChrisLFieldsII opened #228 "Export core functions of library for reuse"
This is the best lib for linking to map apps from my research as it supports the most apps.

The out-of-the-box functionality prob works for 90% of users but I had a use case that this lib didnt cover out-of-the-box for me.

What I needed was the core logic of this lib, determining which map apps are available on a users phone so that I could use this data to build my use cases UI.

(the use case

[2022-07-18 02:03] ChrisLFieldsII opened #229 "getAvailableApps util is slow"
The `getAvailableApps` util is slow b/c it uses `await` in a `for` loop.

This hinders the Get Directions functionality in my Maps UI where the button waits to get all available apps and displays a loading status until there is a response. It takes like 5+ seconds for `getAvailableApps` to respond.

I made a patch that takes advantage of `Promise.all` to speed this function up.
Here is the patch

[2022-07-18 06:39] tschoffelen commented on #229
Hi Chris, thanks for your message. If you open a PR for this change, I'm happy to accept it.

[2022-07-18 06:39] tschoffelen commented on #228
Hi Chris, thanks for your message. If you open a PR for this change, I'm happy to accept it.

[2022-07-18 10:59] tschoffelen commented on #227
I'm not sure I understand what you mean. This package has no influence on how the Maps UI is displayed.

[2022-07-18 11:14] crzycoder commented on #227
@tschoffelen forget the package just use apple maps for direction. when you move blue bar is also updating according to which direction you are moving. but when I use this library for direction the user maker is updating but blue bar is not updating .

[2022-07-18 19:05] ChrisLFieldsII commented on #228
Yes, I'd be happy do that. I will try to open up a PR within a week or so :)

[2022-07-20 09:23] #229 closed

[2022-07-25 14:38] tschoffelen commented on #228
Fixed in #232

[2022-07-25 14:38] #228 closed

[2022-07-25 14:39] tschoffelen commented on #226
Closing due to inactivity - feel free to reply with additional details and I'll re-open.

[2022-07-25 14:39] #226 closed

[2022-07-27 02:44] ChrisLFieldsII opened #233 "Improved TS support, fix appTitles bug in getApps"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-map-link@2.10.0` for the project I'm working on.

Here is the diff that solved my problem: I will open up a PR for this if you feel its valuable.

[code]

To build on top of #232, this adds better TS support so consumers can compose their own mappings

[2022-07-27 06:55] tschoffelen commented on #233
Looks good. Please open a PR if you want these changes to be added.

[2022-07-28 15:30] #233 closed

[2022-09-12 09:05] TacticCoder opened #235 "Missing callback type in Popup component"
While trying to implement the 'onAppPressed' callback i notice that the pressed app name indeed return from the first function parameter, but in the TS definition seems to be incorrect.

Current:
`onAppPressed: () => void;`

Need to be:
`onAppPressed: (appName: MapId) => void;`

[2022-09-12 11:43] tschoffelen commented on #235
Good point! Feel free to open a PR to fix the type refs.

[2022-09-12 12:32] TacticCoder commented on #235
@tschoffelen
Done:
https://github.com/includable/react-native-map-link/pull/236

[2022-09-12 12:32] #235 closed

[2022-10-17 12:32] asurion-ashutosh opened #237 "Release update after 2.7.15 is missing"
https://github.com/includable/react-native-map-link/releases
- above page is not updated with latest versions. is there any other place where i can see change log for 2.8 and above versions.

[2022-10-17 13:58] tschoffelen commented on #237
Sorry, would you mind explaining what you mean?

[2022-10-26 05:54] EmmanuelSkapple commented on #237
this package still works for Expo?

[2022-10-27 07:21] tschoffelen commented on #237
@asurion-ashutosh Good point, we haven't actively been tracking this using Github releases, but it might be good to add a changelog to the README. This package is very simple though, so hopefully the list of recent commits should contain most of the info you need.

[2022-10-27 07:21] tschoffelen commented on #237
@EmmanuelSkapple This is a bit off-topic, but yes it should, please see the Expo related instructions in the README & open a new issue if those aren't working for you.

[2022-11-17 12:31] amserhii11 commented on #177
I've added query statement to AndroidManifest but I still getting reject from Google Play Team.

We found that your app is not compliant with how [QUERY_ALL_PACKAGES permission] is allowed to be used.

React Native 0.68.2
react-native-map-link 2.9.3